@import url('../../../App.css');




.FullLanding {
  height: 80vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.LandingTitlesContainer {
  margin-top: -70px;
}

.firstLine {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.counterNumber {
  font-family: var(--main-font);
  font-size: calc(var(--main-fontSize) * 12);
  padding-right: var(--spacing-small);
  position: static;
  color: var(--secondary-color)
}

.background {
  position: fixed;
  z-index: 0;
  top: 5%;
  right: 35%;
  bottom: 0%;
  z-index: -1;
}

.LandingTitle {
  font-family: var(--secondary-font);
  font-size: calc(var(--main-fontSize) * 5);
  color: var(--secondary-color)

}

.LandingTitle2 {
  font-family: var(--secondary-font);
  font-size: calc(var(--main-fontSize) * 4.5);
  letter-spacing: 7px;
  margin-top: -24px;
  color: var(--secondary-color)

}

.LandingTitle3 {
  font-family: var(--secondary-font);
  font-size: calc(var(--main-fontSize) * 1.4);
  padding-top: var(--spacing-small);
  letter-spacing: 8px;
  width: 100%;
  color: black;

}

.LandingTitle4 {
  font-size: calc(var(--main-fontSize) * 1);
  letter-spacing: 1px;
  position: static;
}

.BiggestTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.LinkContainer {
  margin: auto;
  bottom: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LogoPlateforme {
  animation : rotation 3s linear;


}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  70% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



/* BREAKPOINTS MOBILE TABLETTE OK */


.myButton2 {
  box-shadow: inset -6px -8px 28px 5px #c1272d;
  background: linear-gradient(to bottom, #c1272d 5%, #c1272d 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  padding: 13px 37px;
  text-decoration: none;
  margin-bottom: 16px;
  width: 286px;

}

.btnText {
padding-left:12px;
}


.myButton2:hover {
  background: linear-gradient(to bottom, #c1272d 5%, #c1272d 100%);
  background-color: #c1272d;
}

.myButton2:active {
  position: relative;
  top: 1px;
}

.rowBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:16px;
}