@import url("../../../App.css");
@import url("./Preloader.css");

@media screen and (min-width: 481px) and (max-width: 768px) {

  .generalWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .FullLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 80vh;
    margin: auto;
  }

  /* HEADER PRELOAD */

  .headerPreload {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .LogoPlateforme {
    height: 150px;
    width: 180px;
  }

  .headerLogo {
    width: 80px;
  }

  /* LandingTitlesContainer : contient le reste des élements */

  .LandingTitlesContainer {
    background-image: url("../../../assets/Juin/BackgroundBonneCouleur.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20vh;
    width: 100vw;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /* Plus gros titre*/

  .BiggestTitle {
    margin-top: calc(var(--spacing-large) * 3);
  }
  /* 541 chiffre */

  .counterNumber {
    font-size: calc(var(--main-fontSize) * 8);
    position: static;
  }
  /* CLUBS */

  .LandingTitle {
    font-size: calc(var(--main-fontSize) * 5);
    position: static;
  }
    /* DE FOOTBALL */

  .LandingTitle2 {
    font-size: calc(var(--main-fontSize) * 3.2);
    margin-top: -16px;
    letter-spacing: 8px;
    position: static;
  }

  .LandingTitle3 {
    font-size: calc(var(--main-fontSize) * 1.5);
    letter-spacing: 1px;
  }

  .LandingTitle4 {
    font-size: calc(var(--main-fontSize) * 0.9);
    letter-spacing: 1px;
    position: static;
    font-family: var(--secondary-font);
    text-align: center;
    margin-top: 12px;
    word-wrap: break-word;
    padding-right: 16px;
    padding-left: 16px;
  }
  .LandingTitle6 {
    font-size:calc(var(--main-fontSize) * 1);
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 8px 8px 8px 8px;
    font-weight: bold;
    color:var(--secondary-color);
    font-family: var(--secondary-font);
  }
  /* FIN GROS TITRES */

/* Conteneur Boutons et instructions*/

  .LinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 15vh;
  }

   /* Contenu bouton*/

   .BtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .BtnContainer2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
     /* Images dans les boutons */

   .Loupe {
    height: 18px;
    width: 18px;
  }
  .Loc {
    height: 22px;
    width: 22px;
  }

  .myButton {
    box-shadow: inset -6px -8px 28px 5px #3586c2;
    background: linear-gradient(to bottom, #3586c2 5%, #3586c2 100%);
    background-color: #2e466e;
    border-radius: 17px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--main-font);
    font-size: 13.4px;
    padding: 13px 37px;
    text-decoration: none;
    margin-bottom: 32px;
    width: 286px;
  }

  .myButton:hover {
    background: linear-gradient(to bottom, #3586c2 5%, #3586c2 100%);
    background-color: #3586c2;
  }

  .myButton:active {
    position: relative;
    top: 1px;
  }




  .myButton2 {
    box-shadow: inset -6px -8px 28px 5px #c1272d;
    background: linear-gradient(to bottom, #c1272d 5%, #c1272d 100%);
    background-color: #2e466e;
    border-radius: 17px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--main-font);
    font-size: 14px;
    padding: 13px 37px;
    text-decoration: none;
    margin-bottom: 16px;
    width: 286px;
  }

  .btnText {
    padding-left: 12px;
  }

  .myButton2:hover {
    background: linear-gradient(to bottom, #c1272d 5%, #c1272d 100%);
    background-color: #c1272d;
  }

  .myButton2:active {
    position: relative;
    top: 1px;
  }
}
