
  .faqContainer {
    height: 250px;
    width: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: calc(var(--spacing-large)*3);
    margin-bottom: var(--spacing-medium);
  }


  .faqTitle {
    margin-bottom: calc(var(--spacing-medium) * 2);
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
    color: var(--secondary-color);
  }


  .faqText {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: var(--main-color);
    font-family: var(--secondary-font);
  }

  .faqText2 {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: rgb(51, 51, 51);
    font-family: var(--secondary-font);
  }

  .contactImg {
    height: 78px;
    width: 78px;
  }


  /*<<<<<<<<<<<<<< AFFICHAGE TELEPHONE >>>>>>>>>>>>>>>>>> */
  @media screen and (max-width: 480px) {

  .faqContainer {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    padding-top:  var(--spacing-medium);
    padding-bottom:  var(--spacing-medium);
  }

  .faqTitle {
    margin-bottom: calc(var(--spacing-medium) * 2);
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) *1.5);
    color: var(--secondary-color);
  }
  


  .faqText {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: var(--main-color);
    font-family: var(--secondary-font);
  }
  .faqText2 {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: rgb(51, 51, 51);
    font-family: var(--secondary-font);
  }
  .contactImg {
    height: 58px;
    width: 58px;
  }
}



  /*<<<<<<<<<<<<<< AFFICHAGE TABLETTE >>>>>>>>>>>>>>>>>> */
  @media screen and (min-width:480px) and (max-width:672px) {

   .faqContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }
  .faqTitle {
    margin-bottom: calc(var(--spacing-medium) * 2);
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 1.5);
    color: var(--secondary-color);
  }

  .faqText {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: var(--main-color);
  }
  .faqText2 {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: rgb(51, 51, 51);
  }
  .contactImg {
    height: 58px;
    width: 58px;
  }
  }


  /* VERSION GRANDE TABLETTE */
@media screen and (min-width:767px) and (max-width:1023px) {


  .faqContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }
  .faqTitle {
    margin-bottom: calc(var(--spacing-medium) * 2);
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 1.5);
    color: var(--secondary-color);
  }

  .faqText {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: var(--main-color);
  }
  .faqText2 {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: rgb(51, 51, 51);
  }
  .contactImg {
    height: 58px;
    width: 58px;
    margin-top:var(--spacing-large)
  }
}