@import url("../../components/Clean/Clean.css");

.Question {
    color: var(--secondary-color);
    height: 0px;
    font-family: 'Century Gothic';
    font-size: calc(var(--main-fontSize)/1.2);
}

.Answer {
    color: var(--main-color);
    height: 50px;
    font-family: 'Nuvel';
}