@import url('../../components/Clean/Clean.css');

.Migouz {
    height: 100%;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.MigouzImg {
    height: 500px;
    margin-top:45px;
}