.containerFAQ {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rowToColumnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 90vw;
    margin:auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

ul li {
    border-top:1px solid grey;
}

.button {
    height: 50px;
    border:none;
    margin-top:2px;
    background: #fff;
    margin: auto;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    text-align: left;
}


/* activate toggle */
.accordion_item.active .button {
    background-color: var(--secondary-color);
    color:white;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .accordion_item.active  {
    height: auto;

  }
  .answer_wrapper {
    height: 0;
    overflow: hidden;
    width: 250px;
  }
  .answer_wrapper.open {
    height: auto;
  }

  .answer_wrapper {
    /* ... */
    transition: height ease 0.2s;
  }

  .answer_wrapper.open {
    height: auto;
  }

  .answer {
    width: 250px;
    margin:auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.5=2;
  }


  /*=================================*/


  .chooseContainer {
    height: 150px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }