@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("../../Map/fonts.css");
@import url("../../../App.css");
/* VARIABLES CSS CHARTE GRAPHIQUE  */

/* SCROLL BARS*/
.markersPopUp{margin-top:24px}



/* VERSION DESKTOP */

@media screen and (min-width: 1024px) and (max-width: 1401px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    /* Garder ce fond pour que ça corresponde avec le header*/
  }

  body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
    /* creates padding around scroll thumb */
  }

  /*CONTAINER QUI CONTIENT LA MAP ET LE FORM  */



  .mapTitle {
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
    color: var(--secondary-color);
    margin-bottom: var(--spacing-large);
  }

  .formContainer {
    height: 850px;
    width: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    border: 1px solid blue;
  }

  .dataResult {
    height: 650px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .BlocFiltres {
    max-height: 500px;
    /* width: 520px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid purple;
    position: absolute;
    z-index: 2;
    background-color: wheat;
  }

  .commandContainer {
    height:200px;
    margin-top:16px;    
    margin-bottom: 16px;
  }

 

  .Result {
    font-family: var(--secondary-font);
    text-align: center;
  }

  .sliderText {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small0);
  }

  .countClubText {
    padding: 16px 8px;
    color: black;
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .filtrationsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .filtersNoSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hide {
    display: block;
  }

  .inputBox {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 255px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
  }

  .inputBox2 {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 250px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .inputTitle {
    color: white;
    font-family: var(--main-color);
    padding-left: 8px;
  }

  .filter {
    margin: auto;
  }

  .btnContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  .interactContainer {
    height: 300px;
    width: 80px;
    border: 1px solid black;
    position: absolute;
    z-index: 4;
    left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    bottom: 28%;
    opacity: 0.8;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

  .locImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
  }

  /* Si la localisation n'est pas active, cette div apparaît dans le bouton "découvrir les clubs ici*/

  .ActivateContainer {
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 11px 11px 2px #adadad, -11px -1px 2px #ffffff;
  }

  .ActivateGeoLoc {
    width: 100px;
    height: 100px;
  }

  .ActivateDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  .navigatorDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
    text-align: center;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
  }

  .findclubBtn,
  .SubmitButton {
    height: 120px;
    width: 180px;
  }

  .btnBackground {
    background-color: transparent;
    border: none;
  }

  /* Affichage du club labélisé*/
  .labelClub {
    height: 45px;
    width: 50px;
    margin-left: 58px;
    background: transparent;
    background-color: transparent;
  }

  .labelHide {
    display: none;
  }

  .newSearchBtn {
    height: 250px;
    width: 250px;
  }

  .btnDiv {
    background-color: red;
    margin-top: 10px;
  }

  .newSearchbtnContainer {
    height: 100px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newSearchImg {
    width: 280px;
    height: 290px;
  }

  /* BREAKPOINTS pour bouton nouvelle recherche */
  .toggleSearch {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cardLegendText {
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
    margin-bottom: calc(var(--spacing-large) * 1.5);
    color: var(--secondary-color);
  }

  /*********** STYLES CARTES*/
  .titleCard {
    height: 64px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
    font-family: var(--main-font);
    color: white;
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .column1 {
    height: 150px;
    width: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
  }

  .column2 {
    height: 150px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo1,
  .logo2,
  .logo3 {
    height: 32px;
    width: 32px;
  }

  .labelHide {
    display: none;
  }

  .info1,
  .info2,
  .info3 {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .info1 a {
    text-decoration: none;
    color: black;
  }

  .info3 a {
    color: black;
  }

  .info3 a:visited {
    text-decoration: none;
  }

  .dataResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  /* STYLES DES POPOVERS LARGEUR BOUTONS MOBILE */

  @keyframes anim1 {
    0% {
      opacity: 0.1;
      background-color: red;
    }

    50% {
      opacity: 0.5;
      background-color: blue;
    }

    100% {
      opacity: 1;
      background-color: black;
    }
  }

  .styleLoc {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--main-color);
    width: 355px;
    margin: 0 auto;
    border:none;
    /* animation: anim1 200s ease-in-out; */
  }


  .styleDiv2 {
    width: 353px;
    height: 630px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
    background-color: white;
  }

  .styleOff {
    display: none;
  }

  /*STYLE DEUXIEME BOUTON  */

  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--red-color);
    width: 360px;
    border: none;
  }


  .styleDiv3 {
    width: 360px;
    height: 630px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
    background-color: white;
  }
  .containerResult::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  .containerResult::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  .containerResult::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
    /* creates padding around scroll thumb */
  }

  .containerResult {
    background-color: white;
    height: 430px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
  }

  .resultContainer {
    height: 498px;
    overflow:  auto;
    width: 95%;
  }

  .resultContainer::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  
  .resultContainer::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
    /* creates padding around scroll thumb */
  }

  /* Style à l'intérieur des toggle */

  .sliderText {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    font-size: calc(var(--main-fontSize) * 1.3);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }

  /* PHRASE AFFICHANT LE NOMBRE DE CLUBS A NOS ALENTOURS */

  .NumberClose {
    font-size: calc(var(--main-fontSize) * 1);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    text-align: center;
  }

  .distanceSpan {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1);
    color: black;
    text-align: end;
    padding-bottom: 8px;
    filter: opacity(60%);
  }

  /* TITRE DU FORMULAIRE */

  .formTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.9);
    padding-top: calc(var(--spacing-medium) * 2);

    padding-bottom: calc(var(--spacing-small) * 2);
    color: rgb(51, 51, 51);
    text-align: center;
  }

  .commandBtn {
    width: 150px;
    margin: auto;
    border-radius: 32px;
    height: 28px;
  }
 
}

/*<<<<<<<<<<<<<<<<<<<<<<<<< FIN DE LA VERSIONS DESKTOP>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Breakpoints pour garder en place l'image */

