/* MOBILE*/


@media screen and (max-width: 768px) {


  /* STYLES DES POPOVERS LARGEUR BOUTONS MOBILE */

  .styleLoc {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--main-color);
    width: 305px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top:24px;
    border:none;

  }

  .styleLocExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 275px;
    margin: var(--spacing-small)
  }


  .styleDiv2 {
    width: 303px;
    height: 620px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid grey;
    margin-bottom: 16px;
    ;
  }

  .styleOff {
    display: none;
  }

  /*STYLE DEUXIEME BOUTON  */


  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--red-color);
    width: 305px;

  }

  .styleGeoExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--red-color);
    width: 280px;
  }

  .styleDiv3 {
    width: 358px;
    height: 620px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid grey;
    margin-bottom: 16px;

  }
}


/*TABLETTE*/

@media only screen and (max-width : 1024px) {
  
    .styleLoc {
      margin-top:24px;
    }
    .styleGeo {
      height: 60px;
      border-radius: 30px 30px 0px 0px;
      background-color: var(--red-color);
      width: 360px;
      border:none;    
  
    }
  
    .styleGeoExpanded {
      height: 60px;
      border-radius: 30px;
      background-color: var(--red-color);
      width: 275px;
      margin: var(--spacing-small);
      border:none;
    }

    .styleLocExpanded {
      height: 60px;
      border-radius: 30px;
      background-color: var(--main-color);
      width: 275px;
      margin: var(--spacing-small);
      border:none;
    }
  
  

}


/* ORDI  */


@media only screen and (min-width : 1025px) {
  
  .styleLoc {
    margin-top:24px;
  }
  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--red-color);
    width: 360px;
    border:none;    

  }

  .styleGeoExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--red-color);
    width: 275px;
    margin: var(--spacing-small);
    border:none;
  }

  .styleLocExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 275px;
    margin: var(--spacing-small);
    border:none;
  }



}

