@import url("./Clean.css");

@media screen and (min-width: 1400px) {
  #background_wrap {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../../../assets/TEST/bandesdeTypeBlanc.png");
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
  }

  .resultContainer::-webkit-scrollbar  {
    width: 10px;
    /* width of the entire scrollbar */
  }
  .resultContainer::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  .resultContainer::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
  }

  .containerResult::-webkit-scrollbar  {
    width: 10px;
    height: 90%;
    /* width of the entire scrollbar */
  }
  .containerResult::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  .containerResult::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
  }



  .mainContent {
    height: 500px;
    background-image: url("../../../assets/CompressedPictures/final2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    width: 93.1%;
  }
  .titlesContainer {
    position: relative;
    left: 48px;
    top: 16px;
    width: fit-content;
  }
  .mainTitle {
    font-size: calc(var(--main-fontSize) * 4.5);
    font-family: var(--main-font);
    color: var(--red-color);
  }

  .secondaryTitle {
    font-size: calc(var(--main-fontSize) * 2.5);
    font-family: var(--main-font);
    color: white;
  }
}

@media screen and (min-width: 1401px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #background_wrap {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    /* background-image: url("../../assets/TEST/Ordi22.png"); */
    margin-top: -29px;
  }

  .mainContent {
    height: 550px;
    background-image: url("../../../assets/CompressedPictures/final2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
  }

  .instructionsTitle {
    font-size: calc(var(--main-fontSize) * 2);
  }

  

  .mainContainer {
    height: 100vh;
    width: 92vw;
    margin: auto;
  }

  .markerContainer {
    margin-bottom: var(--spacing-large);
    width: 900px;
  }

  .mapTitle {
    margin-bottom: 32px;
  }

  .cardLegendText {
    margin-bottom: calc(var(--spacing-large) * 5);
  }

  .resultats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 16px;
    margin-bottom: 180px;
    padding-bottom: 64px;
    height: 700px;
  }

  .formContainer {
    height: 800px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .filter {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }

  .inputBox {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }

  .dataResult {
    height: 850px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  .formContainer {
    height: 950px;
  }

  .BlocFiltresEX {
    width: 400px;
  }
  .column1 {
    height: 161px;
  }
  .column2 {
    height: 161px;
  }

  .mapContainer {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
  }

  /* FORM */
  .filtrationsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .findclubBtn,
  .SubmitButton {
    height: 120px;
    width: 180px;
  }

  .btnBackground {
    background-color: transparent;
    border: none;
  }
  .inputBox {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 255px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
  }

  .inputBox2 {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 250px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .inputTitle {
    color: white;
    font-family: var(--main-color);
    padding-left: 8px;
  }

  .filter {
    margin: auto;
  }



  /* STYLES DES POPOVERS LARGEUR BOUTONS MOBILE */

  .styleLoc {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--main-color);
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border:none;
  }

 
  .styleDiv2 {
    width: 353px;
    height: 775px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 16px;
    background-color: white;
  }

  .styleOff {
    display: none;
  }

  /*STYLE DEUXIEME BOUTON  */

  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--secondary-color);
    width: 362px;
  }

  .styleDiv3 {
    width: 360px;
    height: 700px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 1px solid black;
    background-color: white;
  }
  .containerResult {
    height: 680px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    width: 95%;
  }
  .Result {
    font-family: var(--secondary-font);
    text-align: center;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    font-size: 40px;
  }

  .clearSearch {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    width: 150px;
    float: right;
  }
  .resultContainer {
    height: 450px;
    overflow: auto;
    width: 100%;
  }
  /* Style à l'intérieur des toggle */

  .sliderText {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    font-size: calc(var(--main-fontSize) * 1.3);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }
  /* PHRASE AFFICHANT LE NOMBRE DE CLUBS A NOS ALENTOURS */

  .NumberClose {
    font-size: calc(var(--main-fontSize) * 1);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    text-align: center;
  }
  .distanceSpan {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1);
    color: black;
    text-align: end;
    padding-bottom: 6px;
    filter: opacity(60%);
  }

  /* TITRE DU FORMULAIRE */

  .formTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.9);
    padding-top: calc(var(--spacing-medium) * 3);

    padding-bottom: calc(var(--spacing-small) * 2);
    color: rgb(51, 51, 51);
    text-align: center;
  }

  .resultContainer {
    height: 650px;
    overflow: auto;
    width: 100%;
  }
  

  .commandContainer {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    min-height: 10vh;
    margin-top:50px;
  }

  .commandBtn {
    width: 150px;
    margin: auto;
    border-radius: 32px;
    height: 28px;
  }
  .ActivateContainer {
    height: 510px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 11px 11px 2px #adadad, -11px -1px 2px #ffffff;
  }

  .ActivateGeoLoc {
    width: 110px;
    height: 110px;
  }

  .ActivateDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  .navigatorDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
    text-align: center;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
  }

  /* STYLE DE LA BARRE DE NAVIGATION*/
  .interactContainer {
    height: 300px;
    width: 80px;
    border: 1px solid black;
    position: absolute;
    z-index: 4;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    bottom: 38%;
    opacity: 0.9;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #bdbcbc, -20px -20px 60px #ffffff;
  }

  .locImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
  }
}
