@import url('../../../App.css');

.LocalisationTexte {
    display: flex;
    font-family: var(--secondary-font);
    text-align: center;
    flex-direction: column;
    font-size: var(--main-fontSize);
}

.LocalisationTexte2 {
    font-family: var(--secondary-font);
    text-align: center;
    width: 100%;    
    font-size: var(--main-fontSize);

}

.nbrClub {
    font-weight:  bolder;
    color: var(--main-color)
}

/* POP UP CLUBS */



.TitlePopUp {
    text-align: center;
    font-family: var(--main-font);
    color: var(--secondary-color);
    font-size: calc(var(--main-fontSize) * 1.2);

}

.DistancePopUp {
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.distanceNumber {
    font-weight: bold;
}

.AdressePopUp {
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    width: 100%;
    font-size: calc(var(--main-fontSize) / 1.6);
}

.DirectionsPopUp {
    text-align: center;
    font-style:italic;
    color:var(--main-color);
    font-size: var(--main-fontSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--secondary-font);
}

.DirectionsPopUp2 {
    text-align: center;
    font-style:italic;
    color:var(--main-color);
    font-size: var(--main-fontSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--secondary-font);

}