@import url("./Clean.css");

@media screen and (max-width: 480px) {

  html,
  body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }

  .fullApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  #background_wrap {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: url("../../../assets/CompressedPictures/Mobile.webp");
    background-attachment: fixed;
    margin-top:-1px
  }
  .mainContent {
    height: 550px;
    width: 89%;
    background-image: url("../../../assets/TEST/mobileVertical.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    min-width: 89%;
  }
  .titlesContainer {
    display: none;
  }

  .secondaryDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 0.9);
    padding-bottom: 16px;
    color: rgb(51, 51, 51);
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
    text-align: center;
  }




 
  .mainContainer {
    width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #map {
    height: 350px;
    width: 75vw;
    margin: auto;
  }

  .mapTitle {
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 1.3);
    color: var(--secondary-color);
    text-align: center;
    padding: var(--spacing-medium);
  }

  .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    /* background-color: navajowhite; */
    margin-bottom: var(--spacing-large);
    padding: var(--spacing-medium);
  }

  .cardLegendText {
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 1.3);
    margin-bottom: calc(var(--spacing-large) / 2);
    color: var(--secondary-color);
  }

  .BlocFiltres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  .BlocFiltresEX {
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-large);
  }

  .hide {
    display: block;
  }

  .inputBox {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 255px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
  }

  .inputBox2 {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 250px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .inputTitle {
    color: white;
    font-family: var(--main-color);
    padding-left: 8px;
  }

  .filter {
    margin: auto;
  }

  .btnContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .findclubBtn,
  .SubmitButton {
    height: 120px;
    width: 180px;
  }

  .btnBackground {
    background-color: transparent;
    border: none;

  }

  .filtrationsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }



  /* TITRE DU FORMULAIRE */

  .formTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.9);
    padding-top: calc(var(--spacing-small) * 2);

    padding-bottom: calc(var(--spacing-small) * 2);
    color: rgb(51, 51, 51);
    text-align: center;
  }


  .btnAfterSearch {
    width: 120px;
    height: 58px;
    margin: auto;
    border-radius: 12px;
  }

  .btnAfterSearch {
    width: 250px;
    height: 100px;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
  }

  .newSearchContainer {
    margin: auto;
    display: flex;
    padding: 8px 8px 8px 8px;
  }

  .distanceSpan {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1);
    color: black;
    text-align: end;
    margin-right: var(--spacing-medium);
    padding-bottom: 4px;
    filter: opacity(60%)
  }

  /*********** STYLES RESULTAT DE RECHERCHE */
  .Result {
  
    font-family: var(--secondary-font);
    text-align: center;
    padding-top:28px;
    font-size: calc(var(--main-fontSize)*2);
  }

  .containerResult {
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
  }

  .containerResult:-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  .containerResult::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  .containerResult::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
    /* creates padding around scroll thumb */
  }





  /*********** STYLES CARTES*/
  .cardResult {
    height: 240px;
    width: 250px;
    background-image: url("../../../assets/Cartes/Carte-bleu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .cardResult:nth-child(2n) {
    height: 240px;
    width: 250px;
    background-image: url("../../../assets/Cartes/Carte-rouge.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  .cardResult:nth-child(3n) {
    height: 240px;
    width: 250px;
    background-image: url("../../../assets/Cartes/Carte-grise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  .cardResult:nth-child(4n) {
    height: 240px;
    width: 250px;
    background-image: url("../../../assets/Cartes/Carte-turquoise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }



  .cardResult:nth-child(2n) .logo1:nth-child(1n) {
    background-image: url("../../../assets/Logos/Mail-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo2:nth-child(2n) {
    background-image: url("../../../assets/Logos/Localisation-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo3:nth-child(3n) {
    background-image: url("../../../assets/Logos/Info-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo1:nth-child(1n) {
    background-image: url("../../../assets/Logos/Mail-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo2:nth-child(2n) {
    background-image: url("../../../assets/Logos/Localisation-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo3:nth-child(3n) {
    background-image: url("../../../assets/Logos/Info-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo1:nth-child(1n) {
    background-image: url("../../../assets/Logos/Mail-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo2:nth-child(2n) {
    background-image: url("../../../assets/Logos/Localisation-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo3:nth-child(3n) {
    background-image: url("../../../assets/Logos/Info-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .columnContainer {
    display: flex;
    padding-top: 8px
  }




  .column1 {
    height: 160px;
    width: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8px;
  }

  .column2 {
    height: 160px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .resultats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 16px;
    margin-bottom: 180px;
    padding-bottom: 64px;
  }

  .logo1,
  .logo2,
  .logo3 {
    height: 32px;
    width: 32px;
  }

  .labelHide {
    display: none;
  }

  /* Affichage du club labélisé*/
  .labelClub {
    height: 45px;
    width: 50px;
    margin-left: 58px;
    background: transparent;
    background-color: transparent;
  }

  .labelClub {
    height: 10px;
    width: 40px;
    margin-left: 24px;


  }

  .info1,
  .info2,
  .info3 {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .info1 a {
    text-decoration: none;
    color: black;
  }

  .info3 a {
    text-decoration: none;
    color: black;
  }

  .info3 a:visited {
    text-decoration: none;
  }





  .label {
    height: 50px;
    width: 50px;
    background-color: orangered;
  }

  .dataResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .toggleSearch {
    width: 320px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newSearchBtn {
    width: 255px;


  }


  /* STYLES DES POPOVERS LARGEUR BOUTONS MOBILE */

  .styleLoc {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--main-color);
    width: 305px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top:24px;
  }

  .styleLocExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 275px;
    margin: var(--spacing-small)
  }


  .styleDiv2 {
    width: 303px;
    height: 620px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid grey;
    margin-bottom: 16px;
    ;
  }

  .styleOff {
    display: none;
  }

  /*STYLE DEUXIEME BOUTON  */


  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--red-color);
    width: 305px;

  }

  .styleGeoExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--red-color);
    width: 275px;
  }

  .styleDiv3 {
    width: 303px;
    height: 620px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid grey;
    margin-bottom: 16px;

  }

  /* Style à l'intérieur des toggle */

  .sliderText {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    font-size: calc(var(--main-fontSize) * 1.3);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }

  /* PHRASE AFFICHANT LE NOMBRE DE CLUBS A NOS ALENTOURS */

  .NumberClose {
    font-size: calc(var(--main-fontSize) * 1);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    text-align: center;
  }

  /* STYLE DU COMPOSANT ActivateGeoLocation*/

  .ActivateContainer {
    height: 250px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 11px 11px 2px #adadad,
      -11px -1px 2px #ffffff;

  }

  .ActivateGeoLoc {
    width: 100px;
    height: 100px;
  }

  .ActivateDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize)/ 1.1);
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    line-height: 1.2;

  }

  .navigatorDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.5);
    text-align: center;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
  }

  /*Container results of clubs clsoe */

  .resultContainer {
    height: auto;
    overflow: auto;
    width: 100%;

  }

  /* DIV ou sont regroupée les actions par rapprot à la carte*/

  .commandContainer {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .commandBtn {
    width: 150px;
    margin: auto;
    border-radius: 32px;
    height: 28px;

  }

  .interactContainer {
    width: 100%;
    order: 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .locImgContainer {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }





}

