@import url("../../App.css");

.FullLanding {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.LandingTitlesContainer {
    margin-top: -70px;
}

.firstLine {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.counterNumber {
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 12);
    padding-right: var(--spacing-small);
    position: static;
}

.background {
    position: fixed;
    z-index: 0;
    top: 5%;
    right: 35%;
    bottom: 0%;
    z-index: -1;
}

.LandingTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 5);
}

.LandingTitle2 {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 4.5);
    letter-spacing: 7px;
    margin-top: -24px;
}

.LandingTitle3 {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.4);
    padding-top: var(--spacing-small);
    letter-spacing: 6px;
}

.BiggestTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NavigationTitle {
    position: absolute;
    bottom: 15%;
    text-align: center;
    margin: auto;
    right: 20%;
    left: 20%;
}

.LinkContainer {
    height: 120px;
    margin: auto;
    bottom: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnLink {
    width: 276px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
}

.btnLink:active {
    width: 286px;
    height: 74px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
}

.btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1.5);
}

@media screen and (max-width:480px) {


    .LandingTitlesContainer {
        margin-top: -20px;
    }

    .counterNumber {
        font-size: calc(var(--main-fontSize) * 6);

    }

    .LandingTitle {
        font-size: calc(var(--main-fontSize) * 3);
    }

    .LandingTitle2 {
        font-size: calc(var(--main-fontSize) * 2);
        margin-top: -16px;
        letter-spacing: 8px;

    }

    .LandingTitle3 {
        font-size: calc(var(--main-fontSize) * 1);
        letter-spacing: 1px;
    }

    .background {
        position: fixed;
        z-index: 0;
        top: 10%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: -1;
        width: 100%;
    }


.btnLink {
    width: 184px;
    height: 54px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
}

.btnLink:active {
    width: 184px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
}

.btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1);
}





}