@import url('../../App.css');
@import url('./Preloader.css');

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* DIV QUI ENGLOBE TOUT LE COMPOSANT */
      .generalWrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        
      }
    
      /* HEADER ET ECUSSSON */
      .headerPreload {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    
      .headerLogo {
        width: 140px;
      }
    
      /* DIV PRINCIPALE DE CONTENU */
    
      .LandingTitlesContainer {
        background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 95vw;
        height: 40vh;
        max-height: 40vh;
        max-width: 95vw;
      }
    
    
      .LandingTitlesContainer {
        background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100%;
        width: 100%;
        position: static;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .counterNumber {
        font-size: calc(var(--main-fontSize) * 10);
        position: static;
        }
      .LandingTitle {
        font-size: calc(var(--main-fontSize) * 6);
        position: static;
      }
    
      .LandingTitle2 {
        font-size: calc(var(--main-fontSize) * 4);
        margin-top: -16px;
        letter-spacing: 13px;
        position: static;
      }
    
      .LandingTitle3 {
        font-size: calc(var(--main-fontSize) * 2);
        letter-spacing: 1px;
        position: static;
      }
      .LandingTitle4 {
        font-size: calc(var(--main-fontSize) * 1.4);
        letter-spacing: 1px;
        position: static;
        font-family: var(--secondary-font);
        text-align: center;
        margin-top: 22px;
        color: var(--secondary-color);
        word-wrap: break-word;
        padding-right: 16px;
        padding-left: 16px;
      }
    
      .LandingTitle5 {
        font-size: calc(var(--main-fontSize) * 0.8);
        letter-spacing: 1px;
        position: static;
        font-family: var(--secondary-font);
        text-align: center;
        margin-top: 12px;
        color: var(--secondary-color);
        word-wrap: break-word;
        padding-right: 16px;
        padding-left: 16px;
    
      }
      /* FIN DES TITRES */
    
      .background {
        display: none;
      }
    
      .LogoPlateforme {
        height: 250px;
        width: 300px;
      }
    }