@import url("../../App.css");

.FullLanding {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.LandingTitlesContainer {
  margin-top: -70px;
}

.firstLine {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.counterNumber {
  font-family: var(--main-font);
  font-size: calc(var(--main-fontSize) * 12);
  padding-right: var(--spacing-small);
  position: static;
}

.background {
  position: fixed;
  z-index: 0;
  top: 5%;
  right: 35%;
  bottom: 0%;
  z-index: -1;
}

.LandingTitle {
  font-family: var(--secondary-font);
  font-size: calc(var(--main-fontSize) * 5);
}

.LandingTitle2 {
  font-family: var(--secondary-font);
  font-size: calc(var(--main-fontSize) * 4.5);
  letter-spacing: 7px;
  margin-top: -24px;
}

.LandingTitle3 {
  font-family: var(--secondary-font);
  font-size: calc(var(--main-fontSize) * 1.4);
  padding-top: var(--spacing-small);
  letter-spacing: 6px;
}
.LandingTitle4 {
  font-size: calc(var(--main-fontSize) * 1);
  letter-spacing: 1px;
  position: static;
}

.BiggestTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NavigationTitle {
  position: absolute;
  bottom: 15%;
  text-align: center;
  margin: auto;
  right: 20%;
  left: 20%;
}

.LinkContainer {
  /* height: 30vh; */
  margin: auto;
  bottom: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnLink {
  width: 276px;
  height: 64px;
  border-radius: 70px;
  background: #c1272d;
  box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
}

.btnLink:active {
  width: 286px;
  height: 74px;
  border-radius: 70px;
  background: #c1272d;
  box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
}

.btnContent {
  font-family: var(--main-font);
  color: white;
  font-style: bold;
  font-size: calc(var(--main-fontSize) * 1.5);
}

@media screen and (max-width: 480px) {
  .FullLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .headerPreload {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 64px;
  }

  .headerLogo {
    width: 84px;
  }
  .LandingTitlesContainer {
    background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 95vw;
  }

  .LandingTitlesContainer {
    height: 300px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .BiggestTitle {
    margin-top: var(--spacing-large);
  }

  .counterNumber {
    font-size: calc(var(--main-fontSize) * 6);
    position: static;
  }

  .LandingTitle {
    font-size: calc(var(--main-fontSize) * 3);
    position: static;
  }

  .LandingTitle2 {
    font-size: calc(var(--main-fontSize) * 2);
    margin-top: -16px;
    letter-spacing: 8px;
    position: static;
  }

  .LandingTitle3 {
    font-size: calc(var(--main-fontSize) * 1);
    letter-spacing: 1px;
    position: static;
  }

  .LandingTitle4 {
    font-size: calc(var(--main-fontSize) * 0.8);
    letter-spacing: 1px;
    position: static;
    font-family: var(--secondary-font);
    text-align: center;
    margin-top: 12px;
    color: var(--secondary-color);
    word-wrap: break-word;
    padding-right: 16px;
    padding-left: 16px;
  }

  .LandingTitle5 {
    font-size: calc(var(--main-fontSize) * 0.8);
    letter-spacing: 1px;
    position: static;
    font-family: var(--secondary-font);
    text-align: center;
    margin-top: 12px;
    color: var(--secondary-color);
    word-wrap: break-word;
    margin-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .background {
    display: none;
  }

  .btnLink {
    width: 184px;
    height: 54px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
  }

  .LinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }

  .LogoPlateforme {
    margin-top: 32px;
    height: 210px;
    width: 230px;
    margin-bottom: 32px;
  }

  .btnLink:active {
    width: 184px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
  }

  .btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1);
  }
  .NavigationTitle {
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin-top: var(--spacing-large);
  }

  .myButton {
    box-shadow: inset -6px -8px 28px 5px #3586c2;
    background: linear-gradient(to bottom, #3586c2 5%, #3586c2 100%);
    background-color: #2e466e;
    border-radius: 17px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--secondary-font);
    font-size: 22px;
    padding: 13px 37px;
    text-decoration: none;
    text-shadow: 1px 3px 1px #263666;
    margin-bottom: 32px;
  }
  .myButton:hover {
    background: linear-gradient(to bottom, #3586c2 5%, #3586c2 100%);
    background-color: #3586c2;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .LandingTitlesContainer {
    background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: static;
  }

  .LandingTitlesContainer {
    margin-top: -20px;
  }

  .counterNumber {
    font-size: calc(var(--main-fontSize) * 6);
    position: static;
  }

  .LandingTitle {
    font-size: calc(var(--main-fontSize) * 3);
    position: static;
  }

  .LandingTitle2 {
    font-size: calc(var(--main-fontSize) * 2);
    margin-top: -16px;
    letter-spacing: 8px;
    position: static;
  }

  .LandingTitle3 {
    font-size: calc(var(--main-fontSize) * 1);
    letter-spacing: 1px;
    position: static;
  }

  .background {
    display: none;
  }

  .btnLink {
    width: 184px;
    height: 54px;
  }

  .btnLink:active {
    width: 184px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
  }

  .btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1);
  }

  .NavigationTitle {
    height: 150px;
    width: 100%;
    background-color: #a42126;
    position: absolute;
    bottom: 0%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .LandingTitlesContainer {
    background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: static;
  }

  .LandingTitlesContainer {
    margin-top: -20px;
  }

  .counterNumber {
    font-size: calc(var(--main-fontSize) * 6);
    position: static;
  }

  .LandingTitle {
    font-size: calc(var(--main-fontSize) * 3);
    position: static;
  }

  .LandingTitle2 {
    font-size: calc(var(--main-fontSize) * 2);
    margin-top: -16px;
    letter-spacing: 8px;
    position: static;
  }

  .LandingTitle3 {
    font-size: calc(var(--main-fontSize) * 1);
    letter-spacing: 1px;
    position: static;
  }

  .background {
    display: none;
  }

  .btnLink {
    width: 184px;
    height: 54px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
  }

  .btnLink:active {
    width: 184px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
  }

  .btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .LandingTitlesContainer {
    background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: static;
  }

  .LandingTitlesContainer {
    margin-top: -20px;
  }

  .counterNumber {
    font-size: calc(var(--main-fontSize) * 6);
    position: static;
  }

  .LandingTitle {
    font-size: calc(var(--main-fontSize) * 3);
    position: static;
  }

  .LandingTitle2 {
    font-size: calc(var(--main-fontSize) * 2);
    margin-top: -16px;
    letter-spacing: 8px;
    position: static;
  }

  .LandingTitle3 {
    font-size: calc(var(--main-fontSize) * 1);
    letter-spacing: 1px;
    position: static;
  }

  .background {
    display: none;
  }

  .btnLink {
    width: 184px;
    height: 54px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
  }

  .btnLink:active {
    width: 184px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
  }

  .btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1);
  }
}

@media screen and (min-width: 1281px) {
  .LandingTitlesContainer {
    background-image: url("../../assets/CompressedPictures/Logos/BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
    position: static;
  }

  .LandingTitlesContainer {
    margin-top: -20px;
  }

  .counterNumber {
    font-size: calc(var(--main-fontSize) * 6);
    position: static;
  }

  .LandingTitle {
    font-size: calc(var(--main-fontSize) * 3);
    position: static;
  }

  .LandingTitle2 {
    font-size: calc(var(--main-fontSize) * 2);
    margin-top: -16px;
    letter-spacing: 8px;
    position: static;
  }

  .LandingTitle3 {
    font-size: calc(var(--main-fontSize) * 1);
    letter-spacing: 1px;
    position: static;
  }

  .background {
    display: none;
  }

  .btnLink {
    width: 184px;
    height: 54px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset 17px 17px 35px #a42126, inset -17px -17px 35px #de2d34;
  }

  .btnLink:active {
    width: 184px;
    height: 64px;
    border-radius: 70px;
    background: #c1272d;
    box-shadow: inset -17px 17px 35px #a42126, inset 17px -17px 35px #de2d34;
  }

  .btnContent {
    font-family: var(--main-font);
    color: white;
    font-style: bold;
    font-size: calc(var(--main-fontSize) * 1);
  }
}
