.homepage {
  height: 280vh;
  position:relative;
}

.mainContent {
  height: 80vh;
  margin: 0;
  padding: 0;
  font-size: 0;
  
}

.photo {
  height: 80vh;
  width: 100vw;
  filter: contrast(100%);
  background: url("../../assets/img/final2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 15px;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  border: none !important;
  margin-top:-55px;
}
.contentWrapper {
  box-sizing: border-box;
}

.mainTitle {
  font-family: var(--main-font);
  padding-top: 64px;
  padding-left: 64px;
  color: var(--red-color);
  font-size: 48px;
}

.mainDescription {
  padding-left: 64px;
  font-family: var(--main-font);
  font-size: 18px;
  color: white;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.regionPicture {
  width: 370px;
  height: 250px;
  margin-right: 5vw;
  margin-top: 15vh;
  z-index: 2;
  position: absolute;
}

.textContainer {  
  width: 90vw;
  height: 130px;
  box-sizing: border-box;
  margin-top:-80px;
  position: absolute;

} 

.secondTitle {
  font-family: 'Nuvel';
  padding-left: 64px;
  padding-top:18px;
  font-size:20px;
  color:var(--main-color);
}

.descriptionText {
font-family: 'Century Gothic';  
padding-left: 64px;
padding-right: 64px;
font-size: 16px;
color: gray;
font-weight: bolder;

}


.yo {
  display: block;
  margin:auto;
  height: 120px;
  width: 100%;
  background-image: url('../../assets/img/banner.png');
  background-position: 55% 60%;
  background-size: cover;
  z-index: -5;
  margin-top:44px;
  position: absolute;

}

.titleBanner {
  font-family: 'Nuvel';
  font-size: 32px;
  color: white;
  padding-top:54px;
  padding-left: 116px;
  position: absolute;

}

.formContent {
  margin-top: 250px;
}

.footer {
  display: flex;
box-sizing: border-box;
height: 350px;
background-color: #bebebe;
clip-path: ellipse(159% 100% at -37.2% 100%);
position:absolute;
width: 100%;
bottom: 0;
z-index: -4;

;}

.mapAndForm {
  margin-bottom: 10vh;
}

.markerLegend2 {
  display: flex;
  padding: 0;
  margin:0;
  left: 0;
  width: 100%;
  justify-content: space-around;
}

.legendMarker {
  width: 45px;
  height: 58px;
  padding-bottom: 8px;
}
.legendMarker1 {
  width: 58px;
  height: 58px;
  padding-bottom: 8px;

}
.legendMarker2 {
  width: 64px;
  height: 58px;
  padding-bottom: 8px;

}

.markerContainer {
  height: 100px;
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top:8px;
}
.instructions {
  font-family: var(--secondary-font);
  color:gray;
  font-size: 18px;
  width: 500px;
  padding:8px 8px;
  text-align: center;
}


/*<<<<<<<<<<<<<<<<<<<<< SPONSOR>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.sponso {
  bottom:16vh;
  right: 30vw;
  left: 30vw;
  position: absolute;
  z-index: 2;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoCA {
  height: 90px;
  width: 150px;
}

.sponsoText {
  font-family: var(--secondary-font);
  padding-bottom: 16px;
}
.sponsoLinks {
  width: 150px;
  display: flex;
  justify-content: space-around;


}

.LinkCA {
  height: 20px;
  width: 20px;
  padding-top: 16px;

}