.homepage {
  height: 1500px;
}

.mainContent {
  height: 80vh;
  margin: 0;
  padding: 0;
  font-size: 0;
  
}

.photo {
  height: 80vh;
  width: 100vw;
  filter: contrast(100%);
  background: url("../../assets/img/final2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 15px;
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  border: none !important;
  margin-top:-55px;
}
.contentWrapper {
  box-sizing: border-box;
}

.mainTitle {
  font-family: var(--main-font);
  padding-top: 64px;
  padding-left: 64px;
  color: var(--red-color);
  font-size: 48px;
}

.mainDescription {
  padding-left: 64px;
  font-family: var(--main-font);
  font-size: 18px;
  color: white;
}

.imageWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.regionPicture {
  width: 370px;
  height: 250px;
  margin-right: 5vw;
  margin-top: 15vh;
  z-index: 2;
  position: absolute;
}

.textContainer {  
  width: 90vw;
  height: 130px;
  box-sizing: border-box;
  margin-top:-80px;
  position: absolute;

} 

.secondTitle {
  font-family: 'Nuvel';
  padding-left: 64px;
  padding-top:18px;
  font-size:20px;
  color:var(--main-color);
}

.descriptionText {
font-family: 'Century Gothic';  
padding-left: 64px;
padding-right: 64px;
font-size: 16px;
color: gray;
font-weight: bolder;

}


.yo {
  display: block;
  margin:auto;
  height: 120px;
  width: 100%;
  background-image: url('../../assets/img/banner.png');
  background-position: 55% 60%;
  background-size: cover;
  z-index: -5;
  margin-top:88px;
  position: absolute;

}

.titleBanner {
  font-family: 'Nuvel';
  font-size: 32px;
  color: white;
  padding-top:54px;
  padding-left: 116px;
  position: absolute;

}

.formContent {
  margin-top: 250px;
}