.hero {
  display: block;
  height: 255px;
  margin: 0;
  padding:0 ;
  -webkit-clip-path: ellipse(174% 100% at 105.8% 0%);
  clip-path: ellipse(174% 100% at 105.8% 0%);

 
}

.photo {
  height: 255px;
  width: 100%;
  filter: contrast(100%);
  background: url("../../assets/img/acc3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 15px;
  position:fixed;
  z-index:-1;

}
.content {
  box-sizing: border-box;
}

.wow {
  font-family: var(--main-font);
  padding-top: 36px;
  padding-left: 36px;
  color: var(--red-color);
  font-size: 48px;
}

.wow2 {
  padding-left: 36px;
  font-family: var(--main-font);
  font-size: 18px
}
