.fullHeader {
    width: 100%;
    height: 10vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    background-image: url('../../assets/header.png');
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 36px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin-right: 32px;
}
.logo {
    width: 200px;
    height: 180px;
    margin-top: 54px;
    margin-left: 12vw;
    
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
    .fullHeader {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .logo {
        width: 120px;
        height: 120px;
        margin:0;
    }

    .title {
        font-size :32px;
        margin-left: 32px;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .fullHeader {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }
    .logo {
        width: 120px;
        height: 120px;
        margin:0;
    }

    .title {
        font-size :32px;
        margin-left: 32px;
    }
  }
  