.fullHeader {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-image: url("../../assets/Header/grandHeader.png");
  background-size: cover;
  background-position: center;
  margin:0px;
  border:0px;
  padding:0px;
}

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .fullHeader {
    width: 100vw;
    background-image: url("../../assets/Header/headerCM2.png");
    height: 15vh;
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
  }
}

/* @media screen and (min-width:390px) and (max-width: 767px) {
  .fullHeader {
    width: 100vw;
    height: 15vh;
    margin-bottom: 0;
    background-image: url("../../assets/Header/headerv5.png");
    background-size: cover;
    background-position: center;
    
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1223px) {
  .fullHeader {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../../assets/Header/HeaderCM.png");
    background-size: cover;
    background-repeat: no-repeat;

    margin-bottom: 0;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {

  .fullHeader {
  width: 100vw;
  height: 17vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-image: url("../../assets/Header/HeaderCM.png");
  background-size: cover;
  background-position: center;
  margin:0px;
  border:0px;
  padding:0px;}}
