@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("../Map/fonts.css");

/* VARIABLES CSS CHARTE GRAPHIQUE  */

:root {
  --main-color: #3586c2;
  --secondary-color: #293d6b;
  --red-color: #c1272d;
  --main-font: "Nuvel";
  --secondary-font: "Century Gothic";
  --main-fontSize: 16px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
}

/* VERSION DESKTOP */

@media screen and (min-width: 1024px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/Habillage/nouveauFond.png");
    /* Garder ce fond pour que ça corresponde avec le header*/
  }

  body::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 8px solid #293d6b; /* creates padding around scroll thumb */
  }

  .BlocTel {
    display: none;
  }

  .mainContent {
    height: 500px;
    margin-top: -32px;
    background-image: url("../../assets/CompressedPictures/final2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
  }

  /* Container avec les titres */

  .titlesContainer {
    position: relative;
    left: 200px;
    top: 50px;
    width: fit-content;
  }

  .mainTitle {
    font-size: calc(var(--main-fontSize) * 4);
    font-family: var(--main-font);
    color: var(--red-color);
  }

  .secondaryTitle {
    font-size: calc(var(--main-fontSize) * 2);
    font-family: var(--main-font);
    color: white;
  }

  .descriptionContainer {
    height: max-content;
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: -50px;
    margin-bottom: 64px;
  }

  .mainDescription {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: calc(var(--main-fontSize) * 2);
    padding-bottom: 16px;
  }
  .secondaryDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.2);
    padding-bottom: 16px;
    color: rgb(51, 51, 51);
  }
  .bannerContainer {
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-image: url("../../assets/CompressedPictures/banner.webp");
    background-size: cover;
    background-position: 50% 60%;
    margin-bottom: 32px;
    position: relative;
    z-index: -2;
    margin-bottom: 64px;
  }

  .bannerTitle {
    padding-left: calc(var(--spacing-large) * 3);
    font-size: calc(var(--main-fontSize) * 2);
    font-family: var(--main-font);
    color: white;
  }

  .desktopInstructions {
    width: max-content;
    height: max-content;
    padding: var(--spacing-small);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .instructionsTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.2);
    padding-bottom: 16px;
    color: rgb(51, 51, 51);
  }

  .mainContainer {
    height: 700px;
    width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }

  #map {
    height: 400px;
    width: 520px;
  }

  .mapTitle {
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
  }

  .legendContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .submitContainer,
  .legendContainer {
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
  }

  .mapContainer {
    height: 650px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: palegreen;
  }

  .formContainer {
    height: 650px;
    width: 520px;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
  .faqContainer {
    height: 250px;
    width: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 12px 12px 12px 12px;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }

  .BlocFiltres {
    max-height: 400px;
    width: 520px;
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .BlocFiltresEX {
    width: 520px;
    border: 5px solid purple;
    background-color: indianred;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    height: 100%;
  }

  .BlocFiltres::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  .BlocFiltres::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* color of the scroll thumb */
  }

  .resultats::-webkit-scrollbar-thumb {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 8px solid #293d6b; /* creates padding around scroll thumb */
  }

  .faqTitle {
    margin-bottom: calc(var(--spacing-medium) * 2);
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
    color: var(--secondary-color);
  }

  .faqText {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: var(--main-color);
  }
  .faqText2 {
    padding: var(--spacing-small);
    font-size: var(--main-fontSize);
    color: rgb(51, 51, 51);
  }

  .contactImg {
    height: 78px;
    width: 78px;
  }

  .curved {
    height: 260px;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: #bebebe;
    /* -webkit-clip-path: ellipse(57% 67% at 53% 98%); */

    clip-path: ellipse(93% 100% at 31.08% 100%);
  }

  .sponsorContainer {
    position: relative;
    height: 150px;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .LinkGroupama {
    height: 26px;
    width: 26px;
    position: relative;
    z-index: 1000;
  }

  .sponsoLinks {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  .GroupamaLogo {
    width: 280px;
    height: 110px;
  }

  .sponsoText {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
  }

  .filtersNoSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .filtrations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    margin: auto;
  }

  .hide {
    display: block;
  }

  .inputBox {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 255px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
  }

  .inputBox2 {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 250px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .inputTitle {
    color: white;
    font-family: var(--main-color);
    padding-left: 8px;
  }

  .filter {
    margin: auto;
  }

  .btnContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .findclubBtn {
    height: 100px;
    width: 150px;
    margin-left: 45px;
    margin-right: 45px;
  }

  #test2 {
    border: 5px solid goldenrod;
  }

  .testing {
    width: 500px;
    height: 500px;
    background-color: #293d6b;
  }
  .resultats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 16px;
    margin-bottom: 180px;
    padding-bottom: 64px;
  }

  /* Texte indiquant le nombre de résultats */

  .resultText {
    color: var(--main-color);
    font-size: 16px;
    text-align: center;
    font-family: var(--main-font);
    padding: 8px 8px 8px 8px;
  }

  /* Styles des cartes affichées lors des résultats */

  .cardResult {
    height: 220px;
    width: 305px;
    background-image: url("../../assets/Cartes/Carte-bleu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 8px 8px 8px 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .cardResult:nth-child(2n) {
    height: 220px;
    width: 300px;
    background-image: url("../../assets/Cartes/Carte-rouge.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  .cardResult:nth-child(3n) {
    height: 220px;
    width: 305px;
    background-image: url("../../assets/Cartes/Carte-grise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }
  .cardResult:nth-child(4n) {
    height: 220px;
    width: 305px;
    background-image: url("../../assets/Cartes/Carte-turquoise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .cardResult:nth-child(1n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-bleu.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo2:nth-child(2n) {
    background-image: url("../../assets/Logos/Localisation-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo3:nth-child(3n) {
    background-image: url("../../assets/Logos/Info-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo2:nth-child(2n) {
    background-image: url("../../assets/Logos/Localisation-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo3:nth-child(3n) {
    background-image: url("../../assets/Logos/Info-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo2:nth-child(2n) {
    background-image: url("../../assets/Logos/Localisation-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo3:nth-child(3n) {
    background-image: url("../../assets/Logos/Info-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .logo1,
  .logo2,
  .logo3 {
    height: 32px;
    width: 32px;
  }

  /* Affichage du club labélisé*/
  .labelClub {
    height: 45px;
    width: 50px;
    margin-left: 58px;
    background: transparent;
    background-color: transparent;
  }

  .labelHide {
    display: none;
  }

  .btnAfterSearch {
    width: 120px;
    height: 58px;
    margin: auto;
    border-radius: 12px;
  }

  .cardLegendText {
    height: 50px;
    width: 100%;
    background-color: olivedrab;
  }
}
