@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("../Map/fonts.css");

/* VARIABLES CSS CHARTE GRAPHIQUE  */

:root {
  --main-color: #3586c2;
  --secondary-color: #293d6b;
  --red-color: #c1272d;
  --main-font: "Nuvel";
  --secondary-font: "Century Gothic";
  --main-fontSize: 16px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
}

/* VERSION DESKTOP */

@media screen and (min-width: 1024px) and (max-width: 1401px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    /* Garder ce fond pour que ça corresponde avec le header*/
  }

  body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
    /* creates padding around scroll thumb */
  }

  .dozaDiv {
    height: 350px;
    width: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .doza {
    color: white;
    font-size: 80px;
    font-family: "doza";
    position: absolute;
    z-index: 2;
  }

  .doza2 {
    font-size: 80px;
    font-family: "doza";
    position: absolute;
    bottom: 45%;
    color: rgba(14, 223, 207, 1);

    transform: translate(5%);
  }

  .doza3 {
    color: red;
    font-size: 80px;
    font-family: "doza";
    position: absolute;
    top: 45%;
    color: rgba(223, 14, 95, 1);
    transform: translate(-5%);
  }

  /* PREMIERE DIV AVEC DU CONTENU : IMAGE CENTREE AVEC TEXTE*/
  .mainContent {
    height: 450px;
    min-height: 440px;
    width: 92.8%;
    margin: auto;
    background-image: url("../../assets/CompressedPictures/final3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
  }

  #background_wrap {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center 60px;
    /* background-image: url("../../assets/TEST/Ordi22.png"); */
    background-image: url("../../assets/CompressedPictures/bandesdeTypeBlanc.webp");
    margin-top: -5px;
  }

  .fullApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  /* Container avec les titres */

  .titlesContainer {
    position: relative;
    left: 18px;
    top: 16px;
    width: fit-content;
  }

  .mainTitle {
    font-size: calc(var(--main-fontSize) * 3.5);
    font-family: var(--main-font);
    color: var(--red-color);
  }

  .secondaryTitle {
    font-size: calc(var(--main-fontSize) * 2);
    font-family: var(--main-font);
    color: white;
  }

  .descriptionContainer {
    height: max-content;
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: -50px;
    margin-bottom: 64px;
  }

  .mainDescription {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: calc(var(--main-fontSize) * 1.8);
    padding-bottom: 16px;
  }

  .secondaryDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.2);
    padding-bottom: 16px;
    color: rgb(51, 51, 51);
  }

  /* FIN DE L'AFFICHAGE DES TITRES ET DESCRIPTION*/

  .bannerContainer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: -2;
    margin: auto;
  }

  /* TITRE "A VOUS DE JOUER SUR LA BANNIERE */

  .bannerTitle {
    margin: auto;
    height: 80px;
  }

  /* Titre :" Entrez votre age" */

  .desktopInstructions {
    width: max-content;
    height: max-content;
    padding: var(--spacing-small);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .instructionsTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.2);
    padding-bottom: calc(var(--spacing-medium) * 3);
    color: rgb(51, 51, 51);
    margin-top: calc(var(--spacing-large) * 2);
  }

  /*CONTAINER QUI CONTIENT LA MAP ET LE FORM  */

  .mainContainer {
    width: 92vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    margin: auto;
    justify-content: space-between;
    position: relative;
  }

  #map {
    height: 100vh;
    width: 92vw;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
  }

  .mapTitle {
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
    color: var(--secondary-color);
    margin-bottom: var(--spacing-large);
  }

  .formContainer {
    height: 850px;
    width: 440px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    border: 1px solid blue;
  }

  .dataResult {
    height: 650px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .BlocFiltres {
    max-height: 500px;
    /* width: 520px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid purple;
    position: absolute;
    z-index: 2;
    background-color: wheat;
  }

  .commandContainer {
    margin-top: 50px;
  }

  .popover {
    position: absolute;
    z-index: 3;
    right: 2%;
    top: 2%;
  }

  .popover2 {
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 2%;
  }

  .sliderText {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small0);
  }
  .countClubText {
    padding: 16px 8px;
    color: black;
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .filtrationsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .filtersNoSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hide {
    display: block;
  }

  .inputBox {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 255px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
  }

  .inputBox2 {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 250px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .inputTitle {
    color: white;
    font-family: var(--main-color);
    padding-left: 8px;
  }

  .filter {
    margin: auto;
  }

  .btnContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  .interactContainer {
    height: 300px;
    width: 80px;
    border: 1px solid black;
    position: absolute;
    z-index: 4;
    left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    bottom: 28%;
    opacity: 0.8;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

  .locImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
  }

  .findclubBtn,
  .SubmitButton {
    height: 120px;
    width: 180px;
  }

  .btnBackground {
    background-color: transparent;
    border: none;
  }

  /* Affichage du club labélisé*/
  .labelClub {
    height: 45px;
    width: 50px;
    margin-left: 58px;
    background: transparent;
    background-color: transparent;
  }

  .labelHide {
    display: none;
  }

  .newSearchBtn {
    height: 250px;
    width: 250px;
  }

  .btnDiv {
    background-color: red;
    margin-top: 10px;
  }

  .newSearchbtnContainer {
    height: 100px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newSearchImg {
    width: 280px;
    height: 290px;
  }

  /* BREAKPOINTS pour bouton nouvelle recherche */
  .toggleSearch {
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cardLegendText {
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-size: calc(var(--main-fontSize) * 2);
    margin-bottom: calc(var(--spacing-large) * 1.5);
    color: var(--secondary-color);
  }

  /*********** STYLES CARTES*/
  .titleCard {
    height: 64px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
    font-family: var(--main-font);
    color: white;
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .column1 {
    height: 150px;
    width: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
  }

  .column2 {
    height: 150px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo1,
  .logo2,
  .logo3 {
    height: 32px;
    width: 32px;
  }

  .labelHide {
    display: none;
  }

  .info1,
  .info2,
  .info3 {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.2);
  }

  .info1 a {
    text-decoration: none;
    color: black;
  }

  .info3 a {
    text-decoration: none;
    color: black;
  }

  .info3 a:visited {
    text-decoration: none;
  }

  .dataResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  /* STYLES DES POPOVERS LARGEUR BOUTONS MOBILE */

  .styleLoc {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--main-color);
    width: 355px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .styleLocExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 355px;
  }

  .styleDiv2 {
    width: 353px;
    height: 630px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 16px;
    background-color: white;
  }

  .styleOff {
    display: none;
  }

  /*STYLE DEUXIEME BOUTON  */

  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--secondary-color);
    width: 362px;
  }

  .styleGeoExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    width: 335px;
  }

  .styleDiv3 {
    width: 360px;
    height: 600px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 1px solid black;
    background-color: white;
  }
  .containerResult {
    background-color: palevioletred;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
  }
  .resultContainer {
    height: 450px;
    overflow: auto;
    width: 100%;
  }
  /* Style à l'intérieur des toggle */

  .sliderText {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    font-size: calc(var(--main-fontSize) * 1.3);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }
  /* PHRASE AFFICHANT LE NOMBRE DE CLUBS A NOS ALENTOURS */

  .NumberClose {
    font-size: calc(var(--main-fontSize) * 1);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    text-align: center;
  }
  .distanceSpan {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1);
    color: black;
    text-align: end;
    padding-bottom: 4px;
    filter: opacity(60%);
  }

  /* TITRE DU FORMULAIRE */

  .formTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.9);
    padding-top: calc(var(--spacing-medium) * 2);

    padding-bottom: calc(var(--spacing-small) * 2);
    color: rgb(51, 51, 51);
    text-align: center;
  }

  .commandBtn {
    width: 150px;
    margin: auto;
    border-radius: 32px;
    height: 28px;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<< FIN DE LA VERSIONS DESKTOP>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Breakpoints pour garder en place l'image */

@media screen and (min-width: 1077px) and (max-width: 1111px) {
  .mainContent {
    width: 93%;
    margin-top: -3.5px;
  }
}

@media screen and (min-width: 1110px) and (max-width: 1194px) {
  .mainContent {
    width: 93%;
    margin-top: -3.5px;
  }
}

@media screen and (min-width: 1194px) and (max-width: 1400px) {
  .mainContent {
    width: 93%;
    margin-top: -3.5px;
  }

  .mainContainer {
    width: 93vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerContainer {
    width: 92%;
  }

  .descriptionContainer {
    margin-top: 0px;
    position: relative;
  }
}
