@import url("./Clean.css");

@media screen and (min-width: 1401px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
    /* creates padding around scroll thumb */
  }

  #background_wrap {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center 85px;
    background-image: url("../../assets/CompressedPictures/bandesdeTypeBlanc.webp");
    
  }

  .mainContent {
    height: 650px;
    background-image: url("../../assets/CompressedPictures/final3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin: auto;
    position: relative;
    margin-top: -4.7px;
    width: 92vw;
  }

  .titlesContainer {
    position: relative;
    left: 100px;
    top: 50px;
    width: fit-content;
  }

  .mainTitle {
    font-size: calc(var(--main-fontSize) * 4);
    font-family: var(--main-font);
    color: var(--red-color);
  }

  .secondaryTitle {
    font-size: calc(var(--main-fontSize) * 2);
    font-family: var(--main-font);
    color: white;
  }

  .descriptionContainer {
    height: max-content;
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 64px;
  }

  .mainDescription {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: calc(var(--main-fontSize) * 3);
    padding: var(--spacing-large);
  }

  .secondaryDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 2);
    padding-bottom: 16px;
    color: rgb(51, 51, 51);
  }

  .instructionsTitle {
    font-size: calc(var(--main-fontSize) * 2);
  }

  #map {
    height: 100vh;
    width: 92vw;
    position: relative;
    z-index: 1;
  }

  .mainContainer {
    height: 100vh;
    width: 92vw;
    margin: auto;
  }

  .markerContainer {
    margin-bottom: var(--spacing-large);
    width: 900px;
  }

  .mapTitle {
    margin-bottom: 32px;
  }

  .cardLegendText {
    margin-bottom: calc(var(--spacing-large) * 5);
  }

  .resultats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 16px;
    margin-bottom: 180px;
    padding-bottom: 64px;
    height: 700px;
  }

  .formContainer {
    height: 800px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .filter {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }

  .inputBox {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
  }

  .dataResult {
    height: 850px;
    width: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

  .formContainer {
    height: 950px;
  }

  .BlocFiltresEX {
    width: 400px;
  }

  .column1 {
    height: 161px;
  }

  .column2 {
    height: 161px;
  }

  .bannerContainer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: -2;
    margin: auto;
  }

  /* TITRE "A VOUS DE JOUER SUR LA BANNIERE */

  .bannerTitle {
    margin: auto;
    height: 80px;
  }

  .desktopInstructions {
    width: max-content;
    height: max-content;
    padding: var(--spacing-small);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  .instructionsTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.8);
    padding-bottom: calc(var(--spacing-medium) * 3);
    color: rgb(51, 51, 51);
    margin-top: calc(var(--spacing-large) * 2);
  }

  .mapContainer {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
  }

  /* FORM */
  .filtrationsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .findclubBtn,
  .SubmitButton {
    height: 120px;
    width: 180px;
  }

  .btnBackground {
    background-color: transparent;
    border: none;
  }

  .inputBox {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 255px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 2px;
  }

  .inputBox2 {
    font-family: var(--main-font);
    height: 35px;
    border-radius: 22px;
    width: 250px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-color);
    margin-top: 4px;
    margin-bottom: 16px;
  }

  .inputTitle {
    color: white;
    font-family: var(--main-color);
    padding-left: 8px;
  }

  .filter {
    margin: auto;
  }

  .popover {
    position: absolute;
    z-index: 5;
    top: 41%;
    right: 4%;
  }

  .popover2 {
    position: absolute;
    z-index: 5;
    top: 41%;
    left: 8%;
  }

  /* STYLES DES POPOVERS LARGEUR BOUTONS MOBILE */

  .styleLoc {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--main-color);
    width: 355px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: cefnter;
    align-items: center;
    margin: 0 auto;
  }

  .styleLocExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--main-color);
    width: 355px;
  }

  .styleDiv2 {
    width: 353px;
    height: 775px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 16px;
    background-color: white;
  }

  .styleOff {
    display: none;
  }

  /*STYLE DEUXIEME BOUTON  */

  .styleGeo {
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--secondary-color);
    width: 362px;
  }

  .styleGeoExpanded {
    height: 60px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    width: 335px;
  }

  .styleDiv3 {
    width: 360px;
    height: 700px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 1px solid black;
    background-color: white;
  }

  .containerResult {
    background-color: palevioletred;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
  }

  .resultContainer {
    height: 450px;
    overflow: auto;
    width: 100%;
  }

  /* Style à l'intérieur des toggle */

  .sliderText {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    font-size: calc(var(--main-fontSize) * 1.3);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }

  /* PHRASE AFFICHANT LE NOMBRE DE CLUBS A NOS ALENTOURS */

  .NumberClose {
    font-size: calc(var(--main-fontSize) * 1);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    text-align: center;
  }

  .distanceSpan {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1);
    color: black;
    text-align: end;
    padding-bottom: 4px;
    filter: opacity(60%);
  }

  /* TITRE DU FORMULAIRE */

  .formTitle {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) * 1.9);
    padding-top: calc(var(--spacing-medium) * 3);

    padding-bottom: calc(var(--spacing-small) * 2);
    color: rgb(51, 51, 51);
    text-align: center;
  }

  .resultContainer {
    height: 650px;
    overflow: auto;
    width: 100%;
  }

  .commandContainer {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .commandBtn {
    width: 150px;
    margin: auto;
    border-radius: 32px;
    height: 28px;
  }

  .ActivateContainer {
    height: 510px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 11px 11px 2px #adadad, -11px -1px 2px #ffffff;
  }

  .ActivateGeoLoc {
    width: 110px;
    height: 110px;
  }

  .ActivateDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  .navigatorDescription {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
    text-align: center;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
  }

  /* STYLE DE LA BARRE DE NAVIGATION*/
  .interactContainer {
    height: 300px;
    width: 80px;
    border: 1px solid black;
    position: absolute;
    z-index: 4;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    bottom: 38%;
    opacity: 0.9;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #bdbcbc, -20px -20px 60px #ffffff;
  }

  .locImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
  }
}
