.fullFilter {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    background-image: url('../../assets/filtres.png');
    background-size: cover;
    background-position: center;
    
}

.form {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

img {
    height: 155px;
    width: 250px;
    margin-top: 16px;
}

img:hover {
    
}


@media only screen and (min-width: 321px) and (max-width: 767px) {
    .fullFilter {
        display: flex;
        justify-content: flex-start;
    }
    
    img.button {
        width: 150px;
        height: 102px;
        margin-top: 12px;
        
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
    .fullFilter {
        display: flex;
        justify-content: flex-start;
    }
    
    img.button {
        width: 150px;
        height: 102px;
        margin-top: 12px;
        
    }
    
  }
  