.curved {
    height: 310px;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: #bebebe;
    /* -webkit-clip-path: ellipse(57% 67% at 53% 98%); */

    clip-path: ellipse(83% 100% at 31.08% 100%);
    /* clip-path: ellipse(60% 100% at 50% 100%); */
  }


  .sponsorContainer {
    position: relative;
    height: 150px;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .sponsoText {
    font-family: var(--secondary-font);
    font-size: calc(var(--main-fontSize) / 1.1);
  }



  .LinkGroupama {
    height: 26px;
    width: 26px;
    position: relative;
    z-index: 1000;
  }

  .sponsoLinks {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  .GroupamaLogo {
    width: 280px;
    height: 110px;
  }
