@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("../Map/fonts.css");

/* VARIABLES CSS CHARTE GRAPHIQUE  */

:root {
  --main-color: #3586c2;
  --secondary-color: #293d6b;
  --red-color: #c1272d;
  --main-font: 'Nuvel';
  --secondary-font:'Century Gothic';
}

/* Media queries  */

@media screen and (min-width: 319px) and (max-width: 1024px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url("../../assets/Habillage/Fond2.svg"); */
    /* background-image: url("../../assets/FONDS/fondBlanc.png"); */
    z-index:15;

  
    background-repeat: no-repeat;
  }

  .resultText {
    color: var(--secondary-color);
    font-size: 16px;
    font-family: var(--main-font);
    text-align: center;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
}

/* fullPage engloble tout le contenu  */

.fullPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Titre de la page format MOBILE */

.mobiletitleContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.titlePart1,
.titlePart2 {
  font-size: 24px;
  margin: 4px 4px;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
}

/* Texte expliquant le processus version DESKTOP  */

.legendMap {
  margin-top: 8px;
  margin-bottom: 8px;
}

.legendMarker {
  width: 50px;
}

.legendMarker3 {
  width: 65px;
}

/* Subcontainer est une div qui entoure la carte, le form jusqu'au résultats  */

.subContainer {
  width: 90vw;
  height: fit-content;
  max-height: max-content;
  max-width: max-content;
  position :absolute;
  float: 0%;
  margin-top : 70vh;
}

/* Partie styles de la carte Leafet */




.markersPopUp p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 14px;
}

.InstancePopUp h3 {
  color: var(--secondary-color);
  text-decoration: none;
  outline: none;
  font-family: var(--secondary-font);

}

.InstancePopUp a {
  text-decoration: none;
}

.InstancePopUp a:visited {
  text-decoration: none;
}

.InstanceLigue h3 {
  font-family: var(--secondary-font);

  color: var(--red-color);
}

.InstanceLigue a {
  text-decoration: none;
}

.InstanceLigue a:visited {
  text-decoration: none;
}

.userPopUp h3 {
  font-family: var(--secondary-font);

  color: var(--main-color);
}

.banquePopUp h3 {
  color: var(--secondary-color);
}

.banquePopUp a:visited {
  text-decoration: none;
}
.banquePopUp a {
  text-decoration: none;
}

/* STYLES DES CLUSTERS  */

.marker-cluster-small div {
  background-color: #1692eb;
}

.marker-cluster-medium {
  background-color: rgb(255, 255, 255);
  border: 1 px solid black;
}

.marker-cluster-small {
  background-color: rgb(255, 255, 255);
  border: 1 px solid black;
}

.marker-cluster-big {
  background-color: rgb(255, 255, 255);
  border: 1 px solid black;
}

.marker-cluster span {
  color: #fcfcfc;
  font-size: 20px;
  font-weight: bold;
}
.leaflet-marker-icon :not(.MyPosition) {
  background-color: var(--secondary-color);
}

/* MapLegendWrapper est une div qui entoure la carte et la légende  */

.maplegendWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* .mapNoSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55vw;

} */

.titleMapContainer {
  display: none;
}

/* Legende et container de la légende des markers  */

.markerLegend {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marker1,
.marker2,
.marker3,
.marker4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.markerDescription {
  font-family: var(--secondary-font);

  font-size: 10px;
  padding-right: 6px;
  padding-left: 6px;
}

.markerPicture {
  height: 45px;
  width: 48px;
}

.markerPicture2 {
  height: 41px;
  width: 32px;
}

.markerLegend {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* La Div legendAndForm inclut le formulaire et la légende en format Mobile  */

.legendMapMobile {
  margin-top: 16px;
  margin-bottom: 16px;
}

.legendAndForm {
  margin-top: 0vh;
}

/* Legend est le texte explicatif  */

.legend {
  color: black;
  font-weight: bold;
  font-family: var(--secondary-font);

  text-align: center;
  font-size: 20px;
}

/* FILTRATIONS est la div engloblant le formulaire  */

.filtrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;

  
}






/* formTitle est le titre au dessus du form  */

.formTitle {
  text-align: center;
  font-family: var(--main-font);
  font-size: 19px;
  color: var(--secondary-color);
  padding-bottom: 16px;
  padding-top: 16px;
}

/* filtrations wrapper est le conteneur de tout le FORM  */



.inputBox2 {
  font-family: var(--main-font);
  height: 35px;
  border-radius: 22px;
  width: 255px;
  left:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-color);
  margin-top:4px;
  margin-bottom: 16px;
  margin-left: -1vw;

}

.inputTitle {
  color: white;
  font-family: var(--main-color);
  padding-left: 8px;
}




/* BOUTON du FORM  */

.btnContainer {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findclubBtn {
  height: 100px;
  width: 150px;
  margin-left: 45px;
  margin-right: 45px;
}

.btnBackground {
  background-color: transparent;
  border: none;
}



/* RESULTATS EST LA DIV A DROITE QUI AFFICHE LES RESULTATS DE LA RECHERCHE */

.resultats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  padding-bottom: 64px;
}

.resultSentence {
  color: black;
  font-family: var(--secondary-font);

  text-align: center;
}

.searchresultsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  margin-bottom: 24px;
}

.resultatsDesktop {
  display: none;
}

/* CREDIT MUTUEL STYLES  */

.creditMutuel a {
  text-decoration: none;
}

.creditMutuel a:visited {
  text-decoration: none;
  color: var(--main-color);
}

.linksCM {
  display: flex;
  justify-content: space-around;
  padding: 16px 16px 16px 16px;
}

.linklogoCM1,
.linklogoCM2 {
  height: 32px;
  width: 32px;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 4px;
  margin-left: 4px;
}

.logowebCM {
  height: 24px;
  width: 24px;
  padding: 4px 4px 4px 4px;
}

.creditLogo {
  height: 28px;
  width: 250px;
}

.creditMutuel {
  display: none;
}

/* FOOTER AND STYLES  */

.footHeure {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 28px;
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  bottom: 0;
}

.logos {
  height: 18px;
  width: 18px;
}

.logoFooter {
  height: 16px;
  width: 16px;
}

/* CARDS DES CLUBS ET STYLES  */

/* STYLES DE MATERIAL UI QUI NE S'APPLIQUENT PAS QUAND DEPLOYE */
.css-p58oka {
  flex-wrap: nowrap;
  display: row;
  flex-direction: row;
}
.css-9l3uo3 {
  flex-wrap: nowrap;
  font-family: var(--secondary-font);

}

/* <------------ Petit texte d'explication version desktop ----->  */

.legendMap {
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-left: 0;
}

.hide {
  display: none;
}

/* <<<<<<<<<<<<<<< Styles des cartes générées pour les résultats >>>>>>>>>>>> */
.cardResult {
  height: 220px;
  width: 305px;
  background-image: url("../../assets/Cartes/Carte-bleu.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 8px 8px 8px;
  margin-left:186px;
  margin-right: 2vw;
}

.cardResult:nth-child(2n) {
  height: 220px;
  width: 305px;
  background-image: url("../../assets/Cartes/Carte-rouge.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardResult:nth-child(3n) {
  height: 220px;
  width: 305px;
  background-image: url("../../assets/Cartes/Carte-grise.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.cardResult:nth-child(4n) {
  height: 220px;
  width: 305px;
  background-image: url("../../assets/Cartes/Carte-turquoise.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cardResult:nth-child(1n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-bleu.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(2n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-rouge.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(2n) .logo2:nth-child(2n) {
  background-image: url("../../assets/Logos/Localisation-rouge.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(2n) .logo3:nth-child(3n) {
  background-image: url("../../assets/Logos/Info-rouge.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(3n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-gris.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(3n) .logo2:nth-child(2n) {
  background-image: url("../../assets/Logos/Localisation-gris.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(3n) .logo3:nth-child(3n) {
  background-image: url("../../assets/Logos/Info-gris.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(4n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-turquoise.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(4n) .logo2:nth-child(2n) {
  background-image: url("../../assets/Logos/Localisation-turquoise.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(4n) .logo3:nth-child(3n) {
  background-image: url("../../assets/Logos/Info-turquoise.png");
  background-position: center;
  background-size: cover;
}

/* <<<<<<<<<<<< Fin des 4 cartes générées par résultats >>>>>>>>>>>>>>> */

/* <---------- Styles des informations des Cartes Clubs ----------> */

.titleCardContainer {
  height: 64px;
  width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  font-family: var(--main-font);

}

.titleCard {
  height: 64px;
  width: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  font-family: var(--main-font);
  color:white;

}

.columnContainer {
  display: flex;
}

.column1 {
  height: 146px;
  width: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}

.column2 {
  height: 146px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo1,
.logo2,
.logo3 {
  height: 32px;
  width: 32px;
}

.logo2 {
  background-image: url("../../assets/Logos/Localisation-bleu.png");
  background-position: center;
  background-size: cover;
}

.logo3 {
  background-image: url("../../assets/Logos/Info-bleu.png");
  background-position: center;
  background-size: cover;
}

.info1,
.info2,
.info3 {
  font-family: var(--secondary-font);

}

.info1 a {
  text-decoration: none;
  color: black;
}

.info3 a {
  text-decoration: none;
  color: black;
}

.info3 a:visited {
  text-decoration: none;
}

.info3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* Image affichée si le club est labélisé */

.labelClub {
  height: 41px;
  width: 31px;
  margin-left: 78px;
  background: transparent;
  background-color: transparent;
}

.labelHide {
  display: none;
}

.labelClubDesktop {
  height: 41px;
  width: 31px;
  margin-left: 68px;
  background: transparent;
  background-color: transparent;
}

/* ResultText est la phrase qui s'affiche en fonction des résultats  */

.resultText {
  color: var(--main-color);
  font-size: 16px;
  text-align: center;
  font-family: var(--main-font);

}

/* DIV QUI ENTOURE LA POP UP DES CATEGORIES  */

.modalDiv {
  height: 38px;
  font-family: var(--secondary-font);
  text-decoration: underline;
}

/* Non pris en compte car déjà défini par le inline  */
.modalTitle {
  font-family: var(--secondary-font);

  text-align: center;
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 18px;
}

/* TEXTE DU POP UP CONCERNANT LES CATEGORIES :  */

.popupText {
  font-family: var(--secondary-font);

  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
}

.btnClosePopUp {
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 2px solid var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
  background-color: var(--main-color);
  font-weight: bold;
  font-family: var(--secondary-font);

  color: white;
  border-radius: 12px;
  margin-right: 64px;
  margin-left: 64px;
}

.btnClosePopUp:active {
  border: 2px solid var(--main-color);
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bolder;
  font-family: var(--secondary-font);

  color: white;
  border-radius: 12px;
}

#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boldText {
  font-weight: bold;
}

.btnOpenPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 235px;
  color: white;
  font-size: 12px;
  font-family: var(--secondary-font);
  }

.btnTextPopUp {
  font-weight: lighter;
  text-align: center;
  color: black;
}

/* Gestion d'erreur de la recherche  */

/* Popup qui affiche l'erreur */



.btnNoResults {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:8px 8px 8px 8px;
  margin-top:12px;
  background-color: var(--main-color);
  border-radius:12px;
}

.textNoResults {
  font-family: var(--secondary-font);
}

/*>>>>>>>>>>>>>>>>> Container de la nouvelle recherche <<<<<<<<<<<<<<<<<<<< */*



.textNewSearch {
  font-family: var(--secondary-font);
  font-size: 14px;
}

/*>>>>>>>>>>>>>>>>> BOUTON NOUVELLE RECHERCHE <<<<<<<<<<<<<<<<<<<< */


/* <<<<<< A TRIER <<<<<<<<<<<<<<<< */

.titleContainerDesktop {
  display: none;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 14px;
  font-family: var(--secondary-font);

}

.css-y3ahi9-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  font-size: 14px;
  font-family: var(--secondary-font);

}


.wowo {
  width: 1px;
}

.helperText {
  text-align: center;
}

/* Hide est la div résultats mais quand il n'y a pas encore de recherche effectuée, */

.hide {
  display: none;
}










