@media screen and (min-width: 1023px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../assets/Habillage/nouveauFond.png");
    background-repeat: no-repeat;

    scrollbar-color: #293d6b;
    scrollbar-width: 8px;
  }

  body::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 8px solid #293d6b; /* creates padding around scroll thumb */
  }

  .resultatsDesktop::-webkit-scrollbar {
    width: 8px;
  }

  .resultatsDesktop::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }

  .resultatsDesktop::-webkit-scrollbar-thumb {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
  }

  .fullPage {
    display: flex;
    flex-direction: column;
  }

  .subContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 85vw;
    height: 50vh;
  }

  .mapLeaflet {
    height: 45vh;
    width: 25vw;
    margin-top: 0vh;
    padding : 4px 4px 4px 4px;
    

  }

  .filtrations {
    

    width: 110px;
    margin-top: 1.5vh;
    padding-bottom: 56px;
    margin-bottom: 12vh;
    margin-right: 32px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 54px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  13px 13px 49px #cec2c2,
                 -13px -13px 49px #ffffff;
    }

  .filtersNoSearch {
    width: 350px;
    margin-top:2vh;
    display: flex;
    flex-direction: column;
    border-radius: 84px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  13px 13px 49px #cec2c2,
                 -13px -13px 49px #ffffff;

  }
  .maplegendWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 46px;
    padding-bottom: 58px;
    padding-right: 38px;
    padding-left: 38px;
    align-items: center;
    margin-top: 2vh;
    margin-right: 32px;
    border-radius: 84px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  13px 13px 49px #cec2c2,
                 -13px -13px 49px #ffffff;
  }

  .mapNoSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    margin-top:2vh;
    border-radius: 50px;
    padding-top: 46px;
    padding-bottom: 58px;
    /* background: #ffffff;
    box-shadow: 18px 18px 50px #d9d9d9, -20px -20px 60px #ffffff; */
    border-radius: 84px;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  13px 13px 49px #cec2c2,
             -13px -13px 49px #ffffff;

    


  }

  .filtre1 {
    margin-bottom: 8px;
  }

  .filtre2 {
    margin-bottom: 8px;
  }

  .filtre4 {
    margin-bottom: 8px;
  }

  .filtre3 {
    margin-bottom: 64px;
  }
  /* 
  .filtrations {
    display: flex;
    flex-direction: column;
  } */

  .resultats {
    display: none;
  }

  .resultatsDesktop {
    display: flex;
    order: 1;
    width: 550px;
    height: 80vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resultText {
    color:var(--secondary-color);
    font-size: 16px;
    font-family: 'Nuvel';
    text-align: center;
  }
  

  #test {
    display: none;
  }

  #test2 {
    display: block;
    margin-top: -85px;
  }

  .mobiletitleContainer {
    display: none;
  }

  .titleContainerDesktop {
    display: flex;
    flex-direction: column;
    padding: 4px 4px 4px 4px;
    margin-top: 12px;
  }

  .mobiletitleContainer .titlePart1 .blue {
    color: #293d6b;
  }

  .blue {
    color: #293d6b;
  }

  .strong {
    color: #c1272d;
  }

  .titleMapContainer {
    display: flex;
    color: #293d6b;
    font-family: "Nuvel";
    padding-bottom: 24px;
  }

  .titleCardContainer {
    height: 64px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    font-family: "Nuvel";
  }

  .legendMapMobile {
    display: none;
  }

  .creditMutuel {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    font-family: "Century Gothic";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 30vh;
  }
  .logos {
    height: 18px;
    width: 18px;
  }

  .logoDescription {
    padding: 16px 16px;
  }

  /* .logoDescription {
      padding: 8px 8px;
  } */
  .creditLogo {
    height: 28px;
    width: 250px;
    margin-top: 24px;
  }

  .creditMutuel a {
    text-decoration: none;
  }

  .creditMutuel a:visited {
    text-decoration: none;
    color: #293d6b;
  }

  .linksCM {
    display: flex;
    justify-content: space-around;
    padding: 16px 16px 16px 16px;
  }

  .linklogoCM1,
  .linklogoCM2 {
    height: 32px;
    width: 32px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .logowebCM {
    height: 24px;
    width: 24px;
    padding: 4px 4px 4px 4px;
  }

  .marker1,
  .marker2,
  .marker3,
  .marker4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .markerDescription {
    font-family: "Century Gothic";
    font-size: 14px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
  }

  .markerPicture {
    height: 45px;
    width: 48px;
  }

  .markerLegend {
    margin-top: 32px;
    height: 64px;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
  }
}

@media screen and (min-width: 1240px) {
  .filtre1,
  .filtre2,
  .filtre3,
  .filtre4 {
    margin-bottom: 36px;
    margin-top: 36px;
  }

  .resultText {
    color:black;
    font-size: 16px;
    font-family: 'Nuvel';
    text-align: center;
  }
}


/* Medias queries pour petits téléphones  */

@media screen and (min-width : 315px ) and (max-width: 380px) {

  .markerDescription {
    font-size: 10px;
    text-align: center;
    padding-top:6px;
  }

  .filtre1, .filtre2, .filtre3, .filtre4 {
    margin-left: 12px;
  }
  .filtre1 input {
    width: 195px;  
  }

  .modalDiv {
    width: 225px;
    text-align: center;
  }

  .btnOpenPopup {
    width: 225px;
    
  }

  .filtersNoSearch {
    width: 240px;
    
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../assets/Habillage/Fond2.svg");
    background-repeat: no-repeat;
  }

  .cardResult {
  height: 220px;
  width: 255px;
  background-image: url("../../assets/Cartes/Carte-bleu.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 8px 8px 8px;
}

.cardResult:nth-child(2n) {
  height: 220px;
  width: 255px;
  background-image: url("../../assets/Cartes/Carte-rouge.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.cardResult:nth-child(3n) {
  height: 220px;
  width: 255px;
  background-image: url("../../assets/Cartes/Carte-grise.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.cardResult:nth-child(4n) {
  height: 220px;
  width: 255px;
  background-image: url("../../assets/Cartes/Carte-turquoise.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cardResult:nth-child(1n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-bleu.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(2n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-rouge.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(2n) .logo2:nth-child(2n) {
  background-image: url("../../assets/Logos/Localisation-rouge.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(2n) .logo3:nth-child(3n) {
  background-image: url("../../assets/Logos/Info-rouge.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(3n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-gris.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(3n) .logo2:nth-child(2n) {
  background-image: url("../../assets/Logos/Localisation-gris.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(3n) .logo3:nth-child(3n) {
  background-image: url("../../assets/Logos/Info-gris.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(4n) .logo1:nth-child(1n) {
  background-image: url("../../assets/Logos/Mail-turquoise.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(4n) .logo2:nth-child(2n) {
  background-image: url("../../assets/Logos/Localisation-turquoise.png");
  background-position: center;
  background-size: cover;
}

.cardResult:nth-child(4n) .logo3:nth-child(3n) {
  background-image: url("../../assets/Logos/Info-turquoise.png");
  background-position: center;
  background-size: cover;
}

.titleCard {
  font-size: 14px;
}

  

 

  
  
}