@media screen and (min-width: 1023px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url("../../assets/Habillage/nouveauFond.png"); */
    /* background-image: url("../../assets/FONDS/FondBlanc.png"); */
    background-image: url('../../assets/TEST/bandesdeTypeBlanc.png');

    background-repeat: no-repeat;

    scrollbar-color: #293d6b;
    scrollbar-width: 8px;
    z-index: 1;
  }

  body::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* color of the scroll thumb */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 8px solid #293d6b; /* creates padding around scroll thumb */
  }

  .resultatsDesktop::-webkit-scrollbar {
    width: 8px;
  }

  .resultatsDesktop::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }

  .resultatsDesktop::-webkit-scrollbar-thumb {
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 8px solid #293d6b;
  }

  .fullPage {
    display: flex;
    flex-direction: column;
  }

  .subContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 85vw;
    height: 50vh;
  }

  .mapLeaflet {
    height: 75vh;
    width:45vw;   
  }

  .filtrations {
     display: none;
    }

  .filtersNoSearch {
    width: 350px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;

   
  }
  .maplegendWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15vw;
    margin-top:16px;

   
  }

  .mapNoSearch {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 8vh;
    right: 25vw;
    position: absolute;
    width: 60vw;
    max-width: max-content;

  }
 
  .resultats {
    display: none;
  }

  .resultatsDesktop {
    display: flex;
    width: 45vw;
    height: 75vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top:1.5vh;
    left:-5vw;
  }




  .resultText {
    color: var(--secondary-color);
    font-size: 16px;
    font-family: "Nuvel";
    text-align: center;
    margin-left: 8vw;
  }

 

  .mobiletitleContainer {
    display: none;
  }

  .titleContainerDesktop {
    display: flex;
    flex-direction: column;
    padding: 4px 4px 4px 4px;
    margin-top: 12px;
  }

  .mobiletitleContainer .titlePart1 .blue {
    color: #293d6b;
  }

  .blue {
    color: #293d6b;
  }

  .strong {
    color: #c1272d;
  }

  .titleMapContainer {
    display: flex;
    color: #293d6b;
    font-family: "Nuvel";
    padding-bottom: 24px;
  }

  .titleCardContainer {
    height: 64px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    font-family: "Nuvel";
  }

  .legendMapMobile {
    display: none;
  }

  .creditMutuel {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    font-family: "Century Gothic";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 30vh;
  }
  .logos {
    height: 18px;
    width: 18px;
  }

  .logoDescription {
    padding: 16px 16px;
  }

  /* .logoDescription {
      padding: 8px 8px;
  } */
  .creditLogo {
    height: 28px;
    width: 250px;
    margin-top: 24px;
  }

  .creditMutuel a {
    text-decoration: none;
  }

  .creditMutuel a:visited {
    text-decoration: none;
    color: #293d6b;
  }

  .linksCM {
    display: flex;
    justify-content: space-around;
    padding: 16px 16px 16px 16px;
  }

  .linklogoCM1,
  .linklogoCM2 {
    height: 32px;
    width: 32px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 4px;
    margin-left: 4px;
  }

  .logowebCM {
    height: 24px;
    width: 24px;
    padding: 4px 4px 4px 4px;
  }

  .marker1,
  .marker2,
  .marker3,
  .marker4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .markerDescription {
    font-family: "Century Gothic";
    font-size: 14px;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
  }

  .markerPicture {
    height: 45px;
    width: 48px;
  }

  .markerLegend {
    margin-top: 32px;
    height: 64px;
    padding: 8px 8px 8px 8px;
  }
}

@media screen and (min-width: 1240px) {
  

  .resultText {
    color: black;
    font-size: 16px;
    font-family: "Nuvel";
    text-align: center;
  }
}

/* Medias queries pour petits téléphones  */

@media screen and (min-width: 315px) and (max-width: 768px) {
  .markerDescription {
    font-size: 10px;
    text-align: center;
    padding-top: 6px;
  }


  .modalDiv {
    width: 225px;
    text-align: center;
  }

  .btnOpenPopup {
    width: 225px;
  }

  /* .filtersNoSearch {
    width: 240px;
  } */

  html,
  body {
    max-width: 100%;
     overflow-x: hidden; 
     background-size: cover; 
     background-attachment: fixed; 
     /* background-image: url("../../assets/Habillage/Fond2.svg");  */
     background-image: url('../../assets/FONDS/Mobile.svg');
    background-repeat: no-repeat;
    z-index:1;
  }

  .cardResult {
    height: 220px;
    width: 255px;
    background-image: url("../../assets/Cartes/Carte-bleu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 8px 8px 8px;
  }

  .cardResult:nth-child(2n) {
    height: 220px;
    width: 255px;
    background-image: url("../../assets/Cartes/Carte-rouge.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  .cardResult:nth-child(3n) {
    height: 220px;
    width: 255px;
    background-image: url("../../assets/Cartes/Carte-grise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }
  .cardResult:nth-child(4n) {
    height: 220px;
    width: 255px;
    background-image: url("../../assets/Cartes/Carte-turquoise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .cardResult:nth-child(1n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-bleu.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo2:nth-child(2n) {
    background-image: url("../../assets/Logos/Localisation-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(2n) .logo3:nth-child(3n) {
    background-image: url("../../assets/Logos/Info-rouge.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo2:nth-child(2n) {
    background-image: url("../../assets/Logos/Localisation-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(3n) .logo3:nth-child(3n) {
    background-image: url("../../assets/Logos/Info-gris.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo1:nth-child(1n) {
    background-image: url("../../assets/Logos/Mail-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo2:nth-child(2n) {
    background-image: url("../../assets/Logos/Localisation-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .cardResult:nth-child(4n) .logo3:nth-child(3n) {
    background-image: url("../../assets/Logos/Info-turquoise.png");
    background-position: center;
    background-size: cover;
  }

  .titleCard {
    font-size: 14px;
  }
}
