@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('../Mobile/fonts.css');

.pageMobile {
  width: 100% max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  background-image: url('../../assets/Habillage/backgroundPhone2.png');
  background-position: center;
  background-size: cover;


}

.toolBar {
  background-color: blue;
  height: 50px;
  width: 100vw;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
  background-image: url('../../assets/filtres.png');
  margin-top: 0;
  margin-bottom: 2vh;
}

.popUp {
  margin-right: 12px;
}
.openModalBtn {
  margin-right: 12px;
  background-image: url('../../assets/Boutons/howitworks.png');
  height: 25px;
}

.leaflet-container3 {
  width: 80vw;
  height: 50vh;
  margin-bottom: 4vh;
  z-index: 0;
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-image: url('../../assets/Habillage/PopUp.png');
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 1;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  z-index: 1;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  flex-direction: column;
  z-index: 1;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 76px;}



#cancelBtn {
  background-color: crimson;
}

.btnImg {
  height: 100px;
  width: 150px;
}

.illustration {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: top 120px;
  padding: 8px 8px 8px 8px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.illustration div {
  border: 1px solid white;
  height: 85px;
  background-color: whitesmoke;
  width: 80px;

}

.italic {
  font-style: italic;
  font-size: 14pt;
  margin-top: 16px;
  margin-bottom: 16px;
}

.filtres {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  width: fit-content;
  
}

/* .filtres input {
  width: 50vw;
  outline: none;
} */

.filtres span {
  font-size: 16px;
  text-align: start;
}

.filtres select {
  width: 218px;
}
.test {
  background: transparent;
}

.categorieSelector {
  background-color: white;
  height: 30px;
  width: 250px;
  font-size: 18px;
  border-radius: 4px;
}



.titleInput {
  font-family: 'nuvel';
  color:black;
}

.titleInput span {
  font-size: 85px;
}





.cityFilter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6px 6px 6px 6px;

}

.categoryFilter {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
  padding: 6px 6px 6px 6px;
  z-index: 0;
}

.categoryFilter span {
  text-align: start;
}

.inputTitle {
  text-align: start;
}

.hidden {

  display: none;
}

.searchResults {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.selectText {
  color: blue;
  font-size: 20px;
  width: 100px;
}

.red {
  color: #c1272d;

}

.blue {
  color: #528bb9;

}

.searchResults h2 {
  font-size: 14px;
}

.searchResults:nth-child(odd) {
  padding-top:8px;
  padding-bottom: 8px;
}
.searchResults:nth-child(even) {
  padding-top:8px;
  padding-bottom: 8px;
}

.clubCards {
  height: 550px;
  width: 80vw;
  background: blue;
}

.results {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardClub {
  height: 25vh;
  border: 1px solid white;
  width: 80vw;
  font-size: 15px;
  display: flex;
  margin-top:1vh;
  margin-bottom: 1vh;
  border-radius: 12px;
  
}

.cardClub h1 {
  color: white;
  font-size: 14pt;
}

.cardClub:nth-child(1n) {
  height: 195px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-rouge.png');
}

.cardClub:nth-child(2n) {
  height: 195px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-bleu.png');

}

.cardClub:nth-child(3n) {
  height: 195px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-grise.png');

}

.cardClub:nth-child(4n) {
  height: 195px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-turquoise.png');

}

.cardClub:nth-child(1n) .cardImages:nth-child(1n){
  background-image: url('../../assets/Logos/Localisation-rouge.png');
  background-size: contain;
}

.cardClub:nth-child(2n) .cardImages:nth-child(1n){
  background-image: url('../../assets/Logos/Localisation-bleu.png');
  background-size: contain;}

.cardClub:nth-child(3n) .cardImages:nth-child(1n){
  background-image: url('../../assets/Logos/Localisation-gris.png');
  background-repeat: no-repeat;

  background-size: contain;}

.cardClub:nth-child(4n) .cardImages:nth-child(1n){
  background-image: url('../../assets/Logos/Localisation-turquoise.png');
  background-size: contain;
}

.cardClub:nth-child(1n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-rouge.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 4.2pt;
  border : transparent;
}

.cardClub:nth-child(2n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-bleu.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 4.2pt;
  border : transparent;
}

.cardClub:nth-child(3n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-gris.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 4.2pt;
  border : transparent;
}
.cardClub:nth-child(4n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-turquoise.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 4.2pt;
  border : transparent;
}




.mail {
  margin-left: 35px;
}


.contact {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: space-between;
  margin-top:8vh;
}

.cardImages {
  height: 28px;
  width: 28px;
  margin-right: 4pt;
  margin-left: 4pt;
  margin-bottom : 4pt;
  
}

.firstRow, .secondRow{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.clubTypo  {
  font-family: 'nuvel';
  font-weight: normal;
  padding: 4px 4px 4px 4px;
  mix-blend-mode: normal;
  letter-spacing: 1.7px;
  color: #f1f1f1;
  animation: fade 1.5s linear forwards;
  text-align: start;
  font-size: 13pt;
  margin-left: 12px;
  margin-top: 8px;

  
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.equipeName {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 12px;
  margin-left: 8px;
  font-size: 15pt;
  color: black;
  
}

.spane a {
  text-decoration: none;
  outline: none;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}