@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('../Mobile/fonts.css');

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../../assets/Habillage/backgroundPhone2.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}
.pageMobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* background-image: url('../../assets/Habillage/backgroundPhone2.png');  */
 background-position: center;
  background-size: cover;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.mainTitle {
  text-align: center;
  width: 80vw;
  margin-top:16px;
  margin-bottom: 12px;
  font-family: 'nuvel';
  font-size: 12px;
  color: #293D6B
}

.InstancePopUp {
  font-family: 'Century Gothic';
  color: #293D6B;
}

.InstancePopUp h3 {
  font-family: 'Century Gothic';
  color: #293D6B;
}

.InstanceLigue {
  font-family: 'Century Gothic';
  color:#c1272d;
}

.InstanceLigue h3 {
  color: #c1272d;
}
.toolBar {
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
  /* background-image: url('../../assets/filtres.png'); */
  margin-top: 0;
  margin-bottom: 16px;
}

.typo {
  color:crimson;
}

.myPosition {
  color:#293D6B;
  font-family: 'Century Gothic';
  font-weight: bolder ;
}

.popUp {
  height: 5vh;
  width: fit-content;
  background: white;
  border-radius: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameClub {
  color:crimson;
  font-size:16px;
  font-family: 'Century Gothic';

}
.openModalBtn {
  margin-right: 12px;
  background-image: url('../../assets/Boutons/howitworks.png');
  height: 25px;
}

.leaflet-container3 {
  width: 80vw;
  height: 50vh;
  margin-bottom: 28px;
  z-index: 0;
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #3586C2;
  border: 1px solid green;
}
.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-image: url('../../assets/Habillage/PopUp.png');
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 1;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  z-index: 1;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  flex-direction: column;
  z-index: 1;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 61vh;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 76px;
}

.modalContainer .footer button:active{

  border : 1px solid black ;
  
}

.exitPopup button {
  background-image: url('../../assets/Habillage/balloon.png');
  height: 5px;
  width: 60px;
}


#cancelBtn {
  background-color: crimson;
}

.btnImg {
  height: 100px;
  width: 150px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.illustration {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: top 120px;
  padding: 8px 8px 8px 8px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.illustration div {
  border: 1px solid white;
  height: 85px;
  background-color: whitesmoke;
  width: 80px;

}

.italic {
  font-style: italic;
  font-size: 14pt;
  margin-top: 16px;
  margin-bottom: 16px;
}

.filtres {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  width: fit-content;
  
}


.filtres span {
  font-size: 16px;
  text-align: start;
}

.filtres select {
  width: 218px;
}
.categorieSelector {
  background-color: white;
  height: 30px;
  width: 250px;
  font-size: 18px;
  border-radius: 4px;
  color: #3586C2;
  font-family: 'Century Gothic';

}

.nameClub1 {
  color: #3586C2;
}


.titleInput {
  font-family: 'nuvel';
  color:crimson;
}

.titleInput2 {
  color:#3586C2;
  font-family:'nuvel';
}

.titleInput span {
  font-size: 85px;
}

.cityInput {
  font-family: 'Century Gothic';
  color: crimson;
}




.cityFilter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6px 6px 6px 6px;

}

.categoryFilter {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
  padding: 6px 6px 6px 6px;
  z-index: 0;
}

.categoryFilter span {
  text-align: start;
}

.inputTitle {
  text-align: start;
}

.hidden {

  display: none;
}

.searchResults {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.selectText {
  color: #3586C2;
  font-size: 16px;
  width: 100px;
}
 input option {
  width: 2px;
}
.red {
  color: #c1272d;

}

.blue {
  color: #528bb9;

}

.searchResults h2 {
  font-size: 14px;
}

.searchResults:nth-child(odd) {
  padding-top:8px;
  padding-bottom: 8px;
}
.searchResults:nth-child(even) {
  padding-top:8px;
  padding-bottom: 8px;
}



.results {
  height: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;
}

.cardClub {
  height: 35vh;
  border: 1px solid white;
  width: 80vw;
  font-size: 15px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  
}

.cardClub h1 {
  color: white;
  font-size: 14pt;
  padding : 2px 2px 2px 2px;
}

.cardClub:nth-child(1n) {
  height: 194px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-rouge.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}

.cardClub:nth-child(2n) {
  height: 194px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-bleu.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  

}

.cardClub:nth-child(3n) {
  height: 194px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-grise.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-right: 1px grey;
  

}

.cardClub:nth-child(4n) {
  height: 194px;
  width: 335px;
  background-image: url('../../assets/Cartes/Carte-turquoise.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  

}

.locLogo {
  max-height: 28px;
  max-width: 42px;
  margin-left: 5px;
  min-height: 28px;
  min-width: 28px;
  margin-bottom: 8px;
}
.locInfo {
  margin-top: 4px;
  font-family: 'Century Gothic';
}
.cardClub:nth-child(1n) .locLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Localisation-rouge.png') ;
  background-size: cover;
  margin-right: 4px;  
}

.cardClub:nth-child(2n) .locLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Localisation-bleu.png') ;
  background-size: cover;
  margin-right: 4px;  
}
.cardClub:nth-child(3n) .locLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Localisation-gris.png') ;
  background-size: cover;
  margin-right: 4px;  
}
.cardClub:nth-child(4n) .locLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Localisation-turquoise.png') ;
  background-size: cover;
  margin-right: 4px;  
}

.infoLogo {
  max-height: 28px;
  max-width: 42px;
  margin-left: 2vw;
  min-height: 28px;
  min-width: 28px;
}

.cardClub:nth-child(1n) .infoLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Info-rouge.png');
  background-size: cover;
  margin-left: 6px;
}

.cardClub:nth-child(2n) .infoLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Info-bleu.png');
  background-size: cover;
}

.cardClub:nth-child(3n) .infoLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Info-gris.png');
  background-size: cover;
}

.cardClub:nth-child(4n) .infoLogo:nth-child(1n) {
  background-image: url('../../assets/Logos/Info-turquoise.png');
  background-size: cover;
}


.cardInfo {
  margin-top: 16px;}



.cardClub:nth-child(1n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-rouge.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 6px;
  border : transparent;
  margin-bottom: 6px;

}

.cardClub:nth-child(2n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-bleu.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 6px;
  border : transparent;
}

.cardClub:nth-child(3n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-gris.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 6px;
  border : transparent;
}
.cardClub:nth-child(4n) .secondRow:nth-child(1n){
  background-image: url('../../assets/Logos/Mail-turquoise.png');
  background-size: contain;
  height: 28px;
  background-repeat: no-repeat;
  margin-left: 6px;
  border : transparent;
}


.secondRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdRow {
  display: flex;
}

.mail {
  margin-left: 35px;
}


.contact {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: space-evenly;
  margin-top: 8px;
}

.cardImages {
  height: 28px;
  width: 28px;
  margin-right: 4pt;
  margin-left: 4pt;
  margin-bottom : 4pt;
  background-position: center no-repeat;
    
}


.firstRow, .secondRow{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.moreInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreInfoclub {
  margin-left: 2vw;
  font-family: 'Century Gothic';
}

.infoLogo a {
  text-decoration: none;
  outline: 0;
  color: black;
}

a {
  text-decoration: none;
  color:black;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {color:black;
  text-decoration: none;}

.clubTypo  {
  font-family: 'nuvel';
  font-weight: normal;
  padding: 4px 4px;
  mix-blend-mode: normal;
  letter-spacing: 1.7px;
  color: #f1f1f1;
  animation: fade 1.5s linear forwards;
  text-align: start;
  font-size: 13pt;
  margin-left: 12px;
  margin-top: 8px;
  margin-bottom: 22px;

  
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.equipeName {
  font-family: 'Century Gothic';
  margin-top: 12px;
  margin-left: 8px;
  font-size: 15pt;
  color: black;
  
}

.spane a {
  text-decoration: none;
  outline: none;
  color: black;
  font-family: 'Century Gothic';

}

.spane {
  text-decoration: none;
  outline: none;
  color: black;
  font-family: 'Century Gothic';


}

.footeur {
  width: 100vw;
  background-color: #293D6B;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-between;
  left: 0;
  bottom: 0; 
}


.logosFooter {
  height: 18px;
  width: 18px;
  padding: 8px 8px 8px 8px;
  animation: fade 3s linear;

}

.footerbckg {
  width: 100vw;
  background-color: #EAEDE1;
  height: auto;
  position :absolute;}

 .footer div {
   margin-top: 50px;
 }


 /* Media queries pour adapter les cartes aux petits téléphones  */

 @media screen and (min-width:320px) and (max-width:375px) {


.cardClub:nth-child(1n) {
  height: 194px;
  width: 275px;
  background-image: url('../../assets/Cartes/Carte-rouge.png') no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;

  
}

.cardClub:nth-child(2n) {
  height: 194px;
  width: 275px;
  background-image: url('../../assets/Cartes/Carte-bleu.png') no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-position: center; 
  border-radius: 16px;


}

.cardClub:nth-child(3n) {
  height: 194px;
  width: 275px;
  background-image: url('../../assets/Cartes/Carte-grise.png') no-repeat; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-position: center;
  border-radius: 16px;

}

.cardClub:nth-child(4n) {
  height: 194px;
  width: 275px;
  background-image: url('../../assets/Cartes/Carte-turquoise.png') no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-position: center;
  border-radius: 16px;

}
   
 }


 /* Format tablette  */
@media screen and (min-width: 767px) and (max-width:1024px) {
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-image: url('../../assets/Habillage/backgroundPhone2.png'); 
   background-position: center;
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;}
}