@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('../Mobile/fonts.css');


@media screen and (min-width:320px) and (max-width:425px) {
    body:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      background: url('../../assets/Habillage/backgroundPhone2.png') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow-x: hidden;
    }
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-image: url('../../assets/Habillage/backgroundPhone2.png');  */
   background-position: center;
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh; /* Forcé la height ici car sinon la carte prenait toute la hauteur*/ 
  }

  .leafletContainer4 {
 
    width: 80vw;
    height: 50vh !important;
    margin-bottom: 28px;
    z-index: 0;
    margin-top:7vh;
}

/* Titre sous le header, possède une div en colonne pour toujours centrer le texte */
.mainTitleDiv {
    text-align: center;
    margin-top:16px;
    margin-right:8px;
    margin-left: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle {
    font-family: 'nuvel';
    font-size: 24px;
    color: #293D6B;

}

.strong {
    color: #c1272d;
}

/* Fin de la div avec les titres  */


/* Début de la div qui contient le modal pop up  */

.popupContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    padding: 8px 8px  8px 8px;
    margin-bottom: 16px;
    
}

.popUp {
height: 100px;
  width: 150px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
}

/* Fin de la barre horizontale qui contient la popUp  */

.filters {
    height: 5vh;
    background-color: pink;
    width: 80vw;
}


































/* Responsive design media queries, passe de version mobile à tablette  */

@media screen and (min-width:400px) and (max-width:1024px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        background-size: cover;
        width: 100vw;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url('../../assets/Habillage/Fondtablette.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
      }



}


/* Passage tablette à format ordinateur  */

@media screen and (min-width:1024px) {

    body:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      background: url('../../assets/Habillage/Fondtablette.png') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow-x: hidden;
   
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .leafletContainer4 {
      width: 50vw;
  }

  .popupContainer {
      margin-right: 10vw;
  }

  .mainTitle {
    display: flex;
   
  }
  




  .mainTitle {
    padding-top: 16px;
    font-size: 24px;
  }




  

}