@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('../Mobile/fonts.css');


html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('./Fond2.svg');
    background-repeat: no-repeat;

}


.fullPage {
    height: 100vh;
    width: 100%;
    padding : 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.subContainer {
    height: 82px;
    width: 80vw;
}

.titlePart1, .titlePart2 {
    font-size: 24px;
    color: #3586c2;
    margin: 4px 4px;
    font-family: 'Nuvel';
    text-transform: uppercase;
    text-align: center;    
}

.titlePart1 {
    padding-top: 32px;
}

.titlePart2 {
    padding-bottom: 16px;
}
.mapContainer {
    display: block;
}

.mapLeaflet {
    height: 50vh;
    width: 80vw;
    top: 50%;
    margin-right:auto;
    margin-left: auto;
}

.legendMap {
    text-align: center;
    padding: 12px 12px 12px 12px;
    margin-left: auto;
    margin-right: auto;

}

.legend {
    color :black;
    font-family: 'Century Gothic';
}
 
    

.birthday {
    color : #3586c2;
    font-weight: 700;
}

.ranked {
    color : #c1272d;
    font-weight: 700;
}

.filtrations {
    
    border-radius: 12px;;
    width: 75vw;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.filterTitle1 {
    font-family: 'Nuvel';
    color:#3586c2;
}
.filtre1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 18px;
    margin-bottom: 18px;
}
.filterTitle2 {
    font-family: 'Nuvel';
    color:#c1272d;
}

.filterTitle3 {
    font-family: 'Nuvel';
    color: #293D6B;
    margin: top 14px;
    margin-bottom: 14px;
}

.filtre3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:18px;
    margin-bottom:48px;
} 

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    margin:auto;
    padding-bottom: 12px;
}

.findclubBtn {
    margin-top: 36px;
    height: 100px;
    width: 150px;
    margin-bottom: 36px;
}

.btnBackground {
    background-color: transparent;
    border: none;
}

.hiddenSearchResult {
    display: none;
}

.marker-cluster-small div {
    background-color: #1692eb;
}

.marker-cluster-medium {
    background-color: rgb(255, 255, 255);
    border: 1 px solid black;
}

.marker-cluster-small {
    background-color: rgb(255, 255, 255);
    border: 1 px solid black;
}

.marker-cluster-big {
    background-color: rgb(255, 255, 255);
    border: 1 px solid black;
}

.marker-cluster span  {
    color:#fcfcfc;
    font-size: 20px;
    font-weight: bold;
}
.leaflet-marker-icon :not(.MyPosition){
    background-color: #293D6B;
}

.test {
    background-color: #293D6B;
    height: 32px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height];
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.logoFooter {
    height: 16px;
    width: 16px;
}

.searchresultsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 24px;

    
}

.cardResult {
    height: 220px;
    width: 305px;
    border: 1px solid black;
    background-image: url('../../assets/Cartes/Carte-bleu.png');
    background-position: center;
    background-size: cover;
    background-repeat : no-repeat;
    border-radius: 12px;
}

.titleContainer {
    height: 64px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    font-family: 'Nuvel';
}
.columnContainer {
    display: flex;

}

.column1 {
    height: 146px;
    width: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;}

.column2 {
    height: 146px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo1, .logo2, .logo3 {
    height: 32px;
    width: 32px;
}

.logo1 {
    background-image: url('../../assets/Logos/Mail-bleu.png');
    background-position: center;
    background-size: cover;
}

.logo2 {
    background-image: url('../../assets/Logos/Localisation-bleu.png');
    background-position: center;
    background-size: cover;
}

.logo3 {
    background-image: url('../../assets/Logos/Info-bleu.png');
    background-position: center;
    background-size: cover;
}

.info1, .info2 , .info3 {
    font-family: 'Century Gothic';
}



@media screen and (min-width: 1023px) {

.subContainer{
    display: flex;
    flex-direction: row;
    justify-content:  safe;
    align-items: stretch;
}

.mapLeaflet {
    height: 60vh;
    width: 35vw;
    margin-top:7vh;
}

.legendMap {
    order: -1;
    width: 350px;
}

.filtrations {
    order: -3;
    width: 50vw;
}

.titlePart1, .titlePart2 {
    display: none;
}

.legendAndForm {
    margin-top: 0vh;
}

}